<template>
    <div>
        <h1 class="mt-5 title mb-4 row pl-3 pl-lg-0">Оформление заказа</h1>
        <div class="flex-wrap d-flex row">
            <div class="container-left col-12 col-md-7 col-lg-8 pl-lg-0 pl-md-0">
                <h5>Тип плательщика</h5>
                <customer-type-switch v-model="customerData.type"></customer-type-switch>
                <h5 class="margin-top-l">Покупатель</h5>
                <physical-fields v-if="customerData.type === 'physical'" v-model="physicalCustomerData" :validation-errors="validationErrors"></physical-fields>
                <legal-fields v-if="customerData.type === 'legal'" v-model="legalCustomerData" :validation-errors="validationErrors"></legal-fields>
                <contact-fields v-model="customerData" :validation-errors="validationErrors"></contact-fields>
                <h3 class="d-block d-sm-none mt-4 mb-2">Товары в заказе: </h3>
                <MobileProductsTable :items="orderItems" class="d-block d-sm-none"></MobileProductsTable>
            </div>
            <div class="container-right col-12 col-md-5 col-lg-4 pr-0 pl-0 pt-5">
                <h2>Сумма заказа</h2>
                <h2>{{ new Intl.NumberFormat('ru-RU').format(orderTotal) }} руб</h2>
                <div class="order-terms">Нажимая кнопку "Оформить заказ" вы
                    соглашаетесь с <a class="terms" @click="personalDataPublicOfferOpened = true" href="javascript:void(0)">условиями обработки персональных данных</a>
                </div>
                <button class="button btn-block" @click="createOrder">Оформить заказ</button>
                <p class="order-note">*После отправки заявки с Вами свяжется
                    менеджер для уточнения деталей заказа.</p>
            </div>
            <div class="w-100 order-items-wrapper">
                <h3 class="d-none d-sm-block mt-4 mb-2">Товары в заказе: </h3>
                <ProductsTable :items="orderItems" class="d-none d-sm-block"></ProductsTable>
                <div v-if="getCart.couponCode" class="mt-4 mt-xl-1 text-center text-xl-left">
                    <b>Использован промокод: </b> {{ getCart.couponCode }}
                </div>
            </div>
        </div>
        <modal-component width="65%" v-if="personalDataPublicOfferOpened" @close="personalDataPublicOfferOpened = false">
            <div slot="body" v-html="personalDataPublicOfferHtml"></div>
        </modal-component>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import AddressField from "../../components/AddressField.vue";
import ModalComponent from "../Modal/ModalComponent.vue";
import CustomerTypeSwitch from "./CheckoutOrder/CustomerTypeSwitch";
import PhysicalFields from "./CheckoutOrder/PhysicalFields";
import LegalFields from "./CheckoutOrder/LegalFields";
import ContactFields from "./CheckoutOrder/ContactFields";
import OrderItems from "./CheckoutOrder/OrderItems";
import MobileProductsTable from "./OrderConfirmed/block/MobileProductsTable";
import ProductsTable from "./OrderConfirmed/block/ProductsTable";

export default {
    name: "CheckoutOrder",
    components: {
        OrderItems,
        ContactFields,
        PhysicalFields,
        CustomerTypeSwitch,
        ModalComponent, AddressField,
        LegalFields,
        MobileProductsTable,
        ProductsTable
    },
    data() {
        return {
            personalDataPublicOfferOpened: false,
            product: null,
            offer: null,
            physicalCustomerData: {
                firstName: '',
                middleName: '',
                lastName: ''
            },
            legalCustomerData: {
                typeOfOwnership: '',
                companyName: '',
                inn: '',
                address: '',
                contactName: ''
            },
            customerData: {
                type: 'physical',
                phone: '',
                email: '',
                contactAddress: ''
            },
            validationErrors: {
                phone: null,
                email: null,
                firstName: null,
                middleName: null,
                lastName: null,
                typeOfOwnership: null,
                companyName: null,
                inn: null,
                address: null,
                contactName: null,
                contactAddress: null
            }
        }
    },
    methods: {
        createOrder() {
            this.validateCustomerForm()

            if (this.customerIsValid()) {
                let customerData = this.customerData;
                customerData = customerData.type === 'legal' ?
                    {...customerData, ...this.legalCustomerData} :
                    {...customerData, ...this.physicalCustomerData};

                const data = {
                    customer: customerData,
                    orderItemsCollection: this.orderItems,
                    couponCode: this.getCart.couponCode
                }

                this.$services.api.createOrder(data).then(async response => {
                    if (!this.isOneClickOrder) {
                        await this.$store.commit('clearOrderItems');
                        await this.$store.commit('clearOneClickProductConfiguration');
                        await this.$store.dispatch('clearCart');
                    }

                    await this.$router.push('/order/confirmed/?order_id=' + response.data.hash);
                })
            }
        },
        customerIsValid() {
            return !Object.keys(this.validationErrors).filter(key => this.validationErrors[key] !== null).length
        },
        validateEmail(mail)
        {
            return new RegExp(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(mail);
        },
        validateCustomerForm() {
            Object.keys(this.validationErrors).map(key => this.validationErrors[key] = null);

            Object.keys(this.customerData).forEach(key => {
                if (!this.customerData[key]) {
                    this.validationErrors[key] = true
                }
            });

            if (this.customerData.type === 'physical') {
                Object.keys(this.physicalCustomerData).forEach(key => {
                    if (!this.physicalCustomerData[key]) {
                        this.validationErrors[key] = true
                    }
                });
            }

            if (this.customerData.type === 'legal') {
                Object.keys(this.legalCustomerData).forEach(key => {
                    if (!this.legalCustomerData[key]) {
                        this.validationErrors[key] = true
                    }
                });
            }

            if (!this.validationErrors.email && !this.validateEmail(this.customerData.email)) {
                this.validationErrors.email = true;
            }
        },
    },
    computed: {
        ...mapGetters(['orderItems', 'orderTotal', 'personalDataPublicOfferHtml', 'getCart', 'oneClickProductConfiguration']),
        isOneClickOrder() {
            return this.$route.query.offerId && this.$route.query.productId && this.$route.query.amount;
        }
    },
    async mounted() {
        if (this.isOneClickOrder) {
            await this.$store.dispatch('createOneClickOrderItem', {
                offerId: parseInt(this.$route.query.offerId),
                productId: parseInt(this.$route.query.productId),
                amount: parseInt(this.$route.query.amount),
                configurationValues: this.oneClickProductConfiguration
            });
        } else {
            await this.$nextTick(async () => {
                await this.$store.dispatch('createOrderItems', this.$store.getters.getCart.items);
                if (!this.orderItems.length) {
                    await this.$router.push('/');
                }
            })
        }
    }
}
</script>

<style scoped>
h2 {
    text-align: center;
}

h5 {
    background-color: #ececec;
    padding: 10px;
    font-weight: 400;
}

label {
    margin-left: 5px;
    cursor: pointer;
}

.container-right {
    position: relative;
    border: 1px solid #ececec;
    height: fit-content;
}

.order-terms, .order-note {
    padding: 50px 20px 20px;
    text-align: center;
    font-size: 16px;
}

.terms {
    color: #3a92f9;
    margin-bottom: 25px;
}

.order-note {
    padding-top: 20px;
    color: #5e5e5e;
}

.button {
    color: #fff;
    background-color: #356AA0;
    padding: 12px 50px;
    border: none;
    font-size: 23px;
    cursor: pointer;
    width: 100%;
}

.order-items-wrapper {
    margin-left: 20px;
}

@media screen and (max-width: 992px)   {
    .button {
        padding: 12px 20px;
        font-size: 22px;
        width: calc(100% - 30px);
        margin-left: 15px;
     }

    .order-items-wrapper {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px)   {
    label {
        margin-left: 15px;
        font-size: 18px;
    }
}

@media screen and (max-width: 576px)   {
    h2 {
        font-size: 24px!important;
    }

    h5 {
        font-size: 18px;
    }

    .order-terms, .order-note {
        font-size: 15px;
    }

    .order-terms, .order-note {
        padding: 50px 20px 20px;
    }

    .order-note {
        padding: 10px 20px 20px;
    }

    .button {
        font-size: 20px;
    }
}
</style>
