<template>
    <div class="content-container" v-if="order && items.length">
        <div class="wrapper p-0 p-lg-4">
            <h2 class="text">Спасибо, ваш заказ оформлен</h2>
            <DetailsBlock :order="order"></DetailsBlock>
            <ProductsTable :items="items" class="d-none d-sm-block mt-5"></ProductsTable>
            <MobileProductsTable :items="items" class="d-block d-sm-none mt-4"></MobileProductsTable>
            <div class="status"><b>Статус заказа: </b>{{ statusMapping[order.status] }}</div>
            <div class="download flex">
                <img class="pdf" src="../../../public/assets/images/PDF.png">
                <a :href="getConfig.apiBaseUrl + 'order/' + this.order.id + '/pdf'">скачать
                    в формате PDF </a>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import DetailsBlock from "./OrderConfirmed/block/DetailsBlock";
import ProductsTable from "./OrderConfirmed/block/ProductsTable";
import MobileProductsTable from "./OrderConfirmed/block/MobileProductsTable";

export default {
    components: {MobileProductsTable, ProductsTable, DetailsBlock},
    data() {
        return {
            order: null,
            items: [],
            statusMapping: {
                'created': 'Создан',
                'progress': 'В работе',
                'cancelled': 'Отменен',
                'finished': 'Завершен'
            },
        }
    },
    computed: {
        ...mapGetters(['getConfig'])
    },
    mounted() {
        let orderId = this.$route.query.order_id

        if (!orderId) {
            orderId = this.$route.params.orderId
        }

        if (!orderId) {
            this.$router.push('/');
        }

        window.history.replaceState('', '', this.$route.path);

        this.$services.api.getOrder(orderId).then(async response => {
            this.order = response.data

            const productData = await this.$services.api.getProductsListByIds(this.order.orderItemsCollection.map(orderItem => orderItem.productId));
            const products = productData.data;

            this.items = [];

            this.order.orderItemsCollection.forEach(orderItem => {
                const orderItemProduct = products.find(product => product.id === orderItem.productId);
                if (!orderItemProduct) {
                    return;
                }

                const orderItemOffer = orderItemProduct.offers.find(offer => offer.id === orderItem.offerId);

                if (!orderItemOffer) {
                    return;
                }

                let configurationObj = null;

                if (orderItem.configurationValues) {
                    configurationObj = {};

                    orderItem.configurationValues.forEach(value => configurationObj[value.level] = value);
                }

                this.items.push({
                    name: orderItemOffer.name,
                    price: orderItem.price,
                    amount: orderItem.amount,
                    isPresent: orderItem.isPresent,
                    configurationValues: configurationObj || undefined
                })
            });
        }).catch(() => {
            // this.$router.push('/');
        })
    }
}
</script>

<style scoped>
h2 {
    text-align: center;
}

p {
    margin: 10px 20px;
}

a {
    margin-left: 10px;
    padding-top: 12px;
    font-size: 18px;
}

.wrapper {
    margin-top: 60px;
}

.status {
    margin-top: 70px;
    font-size: 25px;
}

.download {
    margin-top: 80px;
    cursor: pointer;
}

.pdf {
    width: 40px;
    height: auto;
}
</style>
