<template>
    <div class="content-container margin-top-l">
        <div class="flex-wrap d-flex">
            <div class="container-left">
                <h1 class="margin-top-m">Получить коммерческое предложение</h1>
                <h3 class="margin-top-m">Тип получателя</h3>
                <div class="d-flex margin-top-l">
                    <input class="radio-input" v-model="orderType" id="nature-person" type="radio" name="order-type"
                           value="physic"
                           checked/>
                    <label for="nature-person">Физическое лицо</label>
                    <input class="radio-input" v-model="orderType" id="legal-person" type="radio" name="order-type"
                           value="legal"
                           placeholder="Юридическое лицо"/>
                    <label for="legal-person">Юридическое лицо</label>
                </div>
                <h3 class="margin-top-xl">Получатель</h3>
                <template v-if="orderType === 'physic'">
                    <p class="text margin-top-m person">Ф.И.О.</p>
                    <input class="input-text margin-top-s person" type="text" placeholder="Фамилия">
                    <input class="input-text margin-top-s person" type="text" placeholder="Имя">
                    <input class="input-text margin-top-s person" type="text" placeholder="Отчество">
                </template>
                <template v-if="orderType === 'legal'">
                    <p class="text margin-top-m legal">Название компании</p>
                    <input class="input-text margin-top-s legal" type="text">
                </template>

                <p class="text margin-top-l">Контакты</p>
                <input class="input-text margin-top-s" type="text" v-mask="'+7(999)999-99-99'"
                       placeholder="Номер телефона">
                <input class="input-text margin-top-s" type="text" v-mask="'*{1,20}@*{1,20}[.*{1,5}]'"
                       placeholder="Адрес элетронной почты">


                <p class="error margin-top-s">*Все поля обязательны для заполнения</p>
            </div>
            <div class="container-right">
                <button class="checkout">Получить коммерческое предложение</button>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "OfferComponent",
    data() {
        return {
            orderType: 'physic'
        }
    }
}
</script>

<style scoped>
h1 {
    color: #5e5e5e;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 10px;
}

h3 {
    background-color: #ececec;
    padding: 10px;
    font-weight: 400;
}

label {
    margin-left: 5px;
    cursor: pointer;
}

#nature-person {
    margin-left: 20px;
}

#legal-person {
    margin-left: 100px;
}

.container-left {
    display: block;
    padding: 0 20px;
}

.container-left {
    width: 800px;
}

.container-right {
    position: relative;
    width: 450px;
    height: fit-content;
    margin-top: 93px;
}

.radio-input {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #356AA0;
    cursor: pointer;
}

.input-text {
    width: 500px;
    height: 35px;
    border: 1px solid #ececec;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 17px
}

.text {
    font-size: 17px;
    color: #424242;
    margin-left: 20px;
}

.checkout {
    color: #fff;
    background-color: #356AA0;
    padding: 8px 28px;
    border: none;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.error {
    color: #5e5e5e;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.d-flex {
    display: flex;
}
</style>
