<template>
    <div class="articles ">

        <div class="flex"><h1 class="title font-weight-bold mt-4">{{ activeArticle.name }}</h1>
            <div class="content">
                <!-- Находим артикль среди данных и выводим значение его свойства description в v-html. См https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Array/find -->
                <!--<img v-if="activeArticle" :src="$services.config.getParameter('IMAGE_BASE_URL') + activeArticle.image" alt="">-->
                <!--<div v-html="activeId ? articles.find(article => article.id === activeId).description : ''"></div>-->
                <div class="img"></div>
                <div class="article-text">
                    <p class="margin-l">Качество надувных лодок <strong>RIB JET-RA</strong> соответствует требованиям
                        технических условий <strong>ТУ 7440-008-96749010-2012, 30.12.19-001-06299690-2017</strong>, а
                        безопасность
                        их использования подтверждена сертификатом соответствия Госстандарта России.</p>
                    <p class="margin-m">Гарантийные обязательства перед покупателем возникают с момента продажи ему
                        изделия уполномоченным продавцом, о чем свидетельствует паспорт на изделие
                        с отметкой о дате продажи, заверенной печатью продавца.</p>
                    <p class="margin-m">При соблюдении владельцем правил эксплуатации и хранения, установленных
                        руководством по эксплуатации лодки, гарантия на лодки составляет 12 месяцев со дня
                        продажи в пределах установленного срока службы.*</p>
                    <p class="margin-m">В период действия срока гарантии, Изготовитель обязуется произвести гарантийный
                        ремонт лодки или, на усмотрение Изготовителя, заменить дефектную деталь
                        на аналогичную.*</p>
                    <p class="margin-m">На порывы, порезы, проколы и другие механические повреждения, возникшие в
                        результате неправильной эксплуатации и несоблюдения условий хранения лодки,
                        гарантия не распространяется.</p>
                    <p class="margin-l">* Данные условия гарантии применяются только к дефектам материала и качеству
                        работ, поэтому они не применимы к обычным износам и потертостям, а также
                        к порывам, порезам и другим механическим повреждениям, в том числе от воздействия агрессивных
                        сред.
                        Конструкция и узлы наших лодок качественно совершенствуются, поэтому лодки с одинаковым
                        наименованием, но разных годов выпуска могут иметь отличия
                        по конструкции и комплектовке.</p>
                    <p class="margin-m"><strong>Все размеры могут варьироваться в пределах ± 3%, а общий вес лодки в
                        пределах ± 6%.</strong></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            articles: [],
            activeId: null
        }
    },
    computed: {
        activeArticle() {
            return this.articles.find(article => article.id === this.activeId)
        }
    },
    mounted() {
        /** Получаем данные с сервера. Смотори реализацию getArticlesByTag в api.js */
        this.$services.api.getArticlesByTag('LEGAL_INFORMATION').then(articles => {

            /** когда данные прилетели с сервера складываем их в articles */
            if (articles && articles.length) {
                this.articles = articles;

                /** в activeId кладем id первого артикля */
                this.activeId = articles[0].id
            }
        });
    }
}
</script>

<style scoped>

.content {
    margin-left: auto;
    width: 904px;
}

</style>
