<template>
    <div>
        <div class="row">
            <h1 class="title col-12 pl-0 pr-0 mt-4 font-weight-bold">Галерея</h1>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-3 col-lg-2 pl-3 pr-3 pl-md-0 pr-md-0 d-flex d-md-block flex-wrap">
                <router-link class="button text-center mb-2 pt-2 pb-2 pr-4 pl-4 pr-md-0 pl-md-0"  v-for="gallery in getGalleries" :class="{active: getActiveGalleryId === gallery.id}" :key="`gallery-link-${gallery.id}`" :to="`/gallery/${gallery.id}`">{{ gallery.title }}</router-link>
            </div>
            <div class="col-12 col-md-9 col-lg-10 pr-0" v-if="getActiveGalleryType">
                <component :is="`${capitalize(getActiveGalleryType)}Gallery`"></component>
            </div>
        </div>
    </div>
</template>

<script>

import {mapGetters, mapMutations} from 'vuex';
import PhotoGallery from "./GalleryType/PhotoGallery.vue";
import VideoGallery from "./GalleryType/VideoGallery.vue";

export default {
    components: {VideoGallery, PhotoGallery},
    computed: {
        ...mapGetters(['getGalleryById', 'getGalleries', 'getActiveGalleryId', 'getActiveGalleryType']),
        title() {
            return this.getGalleries.length && this.getActiveGalleryId ? this.getGalleries.find(gallery => gallery.id === this.getActiveGalleryId).title : ''
        }
    },
    methods: {
        ...mapMutations(['updateGalleries', 'setActiveGalleryId', 'setActiveGalleryItems']),
        capitalize(string) {
            return `${string[0].toUpperCase()}${string.slice(1)}`
        }
    },

    async mounted() {
        if (!this.$route.params.id) {
            await this.$router.replace(`/gallery/${this.getActiveGalleryId}`);
            await this.$store.dispatch('fetchGalleryItems', this.getActiveGalleryId)
        }
    },

    async asyncData({route, store}) {
        await store.dispatch('fetchGalleries', route.params.id ? parseInt(route.params.id) : null)
        await store.dispatch('fetchGalleryItems', store.getters.getActiveGalleryId)
    }
}
</script>

<style scoped>
.button {
    background: #ececec;
    color: #424242;
    display: block;
    white-space: nowrap;
}

.button.active {
    background: #e84534;
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .button {
        font-size: 0.8rem;
        width: 158px;
        margin-right: 16px;
    }

    .button:nth-child(3n) {
        margin-right: 0;
    }

    div.text h2 {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.8rem;
        text-align: left;
    }
}

@media screen and (max-width: 575px) {
    .button {
        width: 100%;
        margin-right: 0;
    }

    .title {
        text-align: center;
        width: 100%;
        margin-bottom: 16px;
    }
}
</style>
