<template>
    <div class="footer-container">
        <div class="container">
            <div class="links row">
                <div class="col-md-3">
                    <p class="font-weight-bold">Компания</p>
                    <p>
                        <router-link to="/articles/about_company/dokumenty">Наши патенты</router-link>
                    </p>
                    <p>
                        <router-link to="/articles/politics">Политика конфиденциальности</router-link>
                    </p>
                    <p>
                        <router-link to="/contacts">Контакты</router-link>
                    </p>
                </div>
                <div class="col-md-2 pl-3 pl-lg-5 mt-4 mt-md-0">
                    <p class="font-weight-bold">Всё о лодках</p>
                    <p>
                        <router-link to="/articles/warranty">Гарантия</router-link>
                    </p>
                    <p>
                        <router-link to="/gallery">Галерея</router-link>
                    </p>
                    <p>
                        <router-link to="/articles/production/stati">Статьи</router-link>
                    </p>

                </div>
                <div class="col-md-2 pl-3 pl-lg-5 mt-4 mt-md-0">
                    <p class="font-weight-bold">Купить</p>
                    <p>
                        <router-link to="/articles/delivery_payment/oplata">Оплата</router-link>
                    </p>
                    <p>
                        <router-link to="/articles/delivery_payment/dostavka">Доставка</router-link>
                    </p>
                    <p>
                        <router-link to="/articles/providers">Поставщикам</router-link>
                    </p>
                </div>
                <div class="col-md-5 pl-3 pl-lg-5 mt-4 mt-md-0" v-if="getShopData">
                    <p class="font-weight-bold">Свяжитесь с нами</p>
                    <p>
                        <a v-if="getShopData" :href="`tel:${getShopData.phones[0].number}`">Телефон:
                            {{ getShopData.phones[0].number }}</a>
                    </p>
                    <p>
                        <a :href="`mailto:${getShopData.emails[0].email}`">{{ getShopData.emails[0].email}}</a>
                    </p>
                    <p>
                        <a v-if="getShopData">Адрес: {{ getShopData.addresses[0].address }}</a>
                    </p>
                </div>
            </div>
            <div class="flex">
                <div class="fl-gr"></div>
                <div class="sm row">
                    <div class="col-md-9 d-lg-block d-none"></div>
                    <div class="logos-container col-md-3">
                        <div v-for="social in getShopData.socials">
                            <template v-if="social.link">
                                <a target="_blank" :href="social.link">
                                    <img :src="getConfig.imagesBaseUrl + social.icon">
                                </a>
                            </template>
                            <template v-else>
                                <img :src="getConfig.imagesBaseUrl + social.icon">
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


import {mapGetters} from "vuex";

export default {
    data() {
        return {
            shopData: null
        };
    },

    computed: {...mapGetters(['getShopData', 'getConfig'])}
}
</script>

<style scoped>
* {
    color: #232153;
}

.footer-container {
    background-color: #ececec;
    position: relative;
    margin-top: 100px;
    padding-bottom: 100px;
}

.links {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px gray solid;
    padding: 40px 0 20px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.fl-gr {
    flex: 0 0 1018px;
}

.skol-box {
    margin-right: 3px;
}

.skol-img{
    width: 41px;
    height: auto;
}

.sm {
    background-color: #ececec;
    padding: 15px 0;
    margin: 0;
}

.logos-container {
    display: inline-flex;
    padding-left: 70px;
    justify-content: flex-end;
}

.logos-container div {
    width: 44px;
    text-align: center;
}

.logos-container div img {
    max-width: 100%;
    height: auto;
}

.padding-left {
    padding-left: 60px;
}

/*.fl-2 {*/
    /*flex: 0 0 320px;*/
/*}*/

/*.fl-1 {*/
    /*flex: 0 0 250px;*/
/*}*/

/*.fl-3 {*/
    /*flex: 0 0 395px;*/
/*}*/

a {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5;
}

@media screen and (max-width: 991px) {
    .logos-container {
        padding-left: 0;
    }

    .sm {
        margin: 0;
    }

    .links {
        margin: 0;
    }
}

</style>
