<template>
    <div class="products">
        <div class="row">
            <div class="col-12 pl-0 pr-0 d-none d-lg-block mt-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><router-link to="/">Главная</router-link></li>
                        <li class="breadcrumb-item"><router-link to="/products">Товары</router-link></li>
                        <li v-if="activeCategory.level > 1 && parent" class="breadcrumb-item">
                            <router-link :to="`/products/${parent.canonical}`">{{ parent.name }}</router-link>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ activeCategory.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row text-center text-md-left mt-4 mt-lg-0">
            <h1 class="title col-12 pl-0 pr-0 font-weight-bold">{{ active ? active.name : '' }}</h1>
        </div>
        <div class="row">
            <categories-list @categoryChanged="setActive" :active="active"
                             :categories="getRootCategories" class="col-xl-2 col-lg-3 col-md-3 col-sm-12 pl-0 pr-0"></categories-list>
            <div class="content col-xl-10 col-lg-9 col-md-9">
                <div class="d-block category-description row mt-4 ml-2" v-html="activeCategory.description"></div>
                <subcategories-tiles :categories="children"></subcategories-tiles>
                <product-list v-if="getActiveSlug" :category-slug="getActiveSlug"></product-list>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import CategoriesList from "./CategoriesList/CategoriesList";
import ProductList from "./List/ProductList";
import MainPageCategories from "../Main/blocks/MainPageCategories";
import SubcategoriesTiles from "./List/SubcategoriesTiles";

export default {
    components: {SubcategoriesTiles, MainPageCategories, ProductList, CategoriesList},
    computed: {
        ...mapGetters([
            'getCategoryById',
            'getRootCategories',
            'categories',
            'getActiveSlug',
            'activeCategory'
        ]),
        children() {
            return this.categories.filter(cat => cat.parentId === this.activeCategory.categoryId);
        },
        parent() {
            return this.categories.find(cat =>  cat.categoryId === this.activeCategory.parentId);
        },
        active() {
            return this.categories ? this.categories.find(category => category.canonical === this.getActiveSlug) : null;
        }
    },
    methods: {
        async setActive(category) {
            await this.$store.commit('setActiveSlug', category.canonica)
        }
    },
    watch: {
        $route() {
            const menu = document.querySelector('.menu-container .menu');

            window.scrollTo({
                top: menu ? menu.offsetTop : 219
            })
        }
    },
    async asyncData({store, route, router}) {
        await store.dispatch('fetchCategories');

        if (!Object.keys(route.params).length && store.getters.categories.length) {
            await store.commit('setActiveSlug', store.getters.categories[0].canonical)
        } else {
            await store.commit('setActiveSlug', route.params.category)
        }

        await store.dispatch('fetchProducts', store.getters.getActiveSlug)
    },
    async mounted() {
        if (!this.$route.params.category && this.categories.length) {
            await this.$router.push(`/products/${this.categories[0].canonical}`)
        }
    },
    metaInfo() {
        return {
            title: this.activeCategory ? this.activeCategory.metaTitle : null,
            meta: [
                { vmid: 'description', name: 'description', content: this.activeCategory ? this.activeCategory.metaDescription : null },
                { vmid: 'keywords', name: 'keywords', content: this.activeCategory ?this.activeCategory.metaKeywords : null},
            ]
        }
    },
}
</script>
