<template>
    <div>
        <div class="row"><breadcrumb-component :links="breadcrumbs" v-if="breadcrumbs"></breadcrumb-component></div>
        <mini-products-bar></mini-products-bar>
        <div class="row mt-3 mb-3 mt-lg-0 mb-lg-0 pl-3 pl-sm-0"><h1>Сравнение товаров</h1></div>
        <empty-list v-if="$store.getters.compareItems.length < 1"></empty-list>
        <template v-else>
            <products-list class="d-none d-lg-block" @removeProduct="product => removeProduct(product)"></products-list>
            <products-list-mobile @removeProduct="product => removeProduct(product)" @productsSpecified="data => { productsSpecifiedHandler(data) }" class="d-block d-lg-none"></products-list-mobile>
            <compare-block title="Характеристики" :specified-products="productsSpecified" property="properties"></compare-block>
            <compare-block title="Комплектация" :specified-products="productsSpecified" property="equipments"></compare-block>
        </template>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import ProductPrice from "../Products/Card/ProductPrice";
import AddToCardButton from "../../components/AddToCardButton";
import ProductImages from "../Products/Card/ProductImages";
import CompareBlock from "./blocks/CompareBlock";
import BreadcrumbComponent from "../../components/BreadcrumbComponent";
import EmptyList from "./blocks/EmptyList";
import ProductsList from "./blocks/ProductsList";
import ProductsListMobile from "./blocks/ProductsListMobile";
import MiniProductsBar from "./blocks/MiniProductsBar";

export default {
    components: {
        MiniProductsBar,
        ProductsListMobile,
        ProductsList,
        EmptyList, BreadcrumbComponent, CompareBlock, ProductImages, AddToCardButton, ProductPrice},
    computed: {...mapGetters(['getConfig'])},
    name: "CompareComponent",
    data() {
        return {
            productsSpecified: [],
            breadcrumbs: [
                {
                    title: 'Главная',
                    href: '/'
                },
                {
                    title: 'Товары',
                    href: '/products'
                },
                {
                    title: 'Сравнение товаров',
                    current: true
                }
            ]
        }
    },
    methods: {
        removeProduct(product) {
            this.$store.dispatch('removeProductFromCompare', product)
            const specIndex = this.productsSpecified.findIndex(specProd => specProd.id === product.id);

            if (specIndex !== -1) {
                this.productsSpecified.splice(specIndex, 1);
            }

            document.dispatchEvent(new Event('compareItemRemoved'))
        },
        productsSpecifiedHandler(data)
        {
            this.productsSpecified = data;
        }
    }
}
</script>
