<template>
    <div class="container d-none d-lg-block">
        <div class="row">
            <template v-for="(menuItem, key) in getMenuItems">
                <router-link :key="`menu-item-${key}`" v-if="!menuItem.real" :class="`menu-item ${isActive(menuItem)  ? 'active' : ''}`" :to="menuItem.link">
                    {{ menuItem.title }}
                </router-link>
                <a :key="`menu-item-${key}`" :href="menuItem.link" :class="`menu-item ${isActive(menuItem)  ? 'active' : ''}`" v-else>{{ menuItem.title }}</a>
            </template>
        </div>
    </div>
</template>

<script>

import {mapGetters} from 'vuex';

export default {
    computed: {
        ...mapGetters(['getMenuItems'])
    },
    methods: {
        isActive(menuItem) {
            return (menuItem.link !== '/' && this.$route.path.indexOf(menuItem.link) !== -1) || (this.$route.path === '/' && menuItem.link === '/')
        }
    }
}

</script>

<style scoped>
.menu-container {
    overflow: hidden;
}

.menu {
    display: flex;
    padding: 0;
    justify-content: space-between;
    position: relative;
}

.menu-item {
    list-style: none;
    padding: 18px 0;
    flex-grow: 1;
    background: #e84534;
    border: solid 1px #FFF;
    text-align: center;
    width: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.menu .menu-item:first-child {
    border-left: none;
}

.menu .menu-item:nth-last-child {
    border-right: none;
}

.menu-item a {
    text-decoration: none;
    color: #FFF;
    padding: 14px;
}

.menu-item.active,
.menu-item:hover {
    background: #232153;
}

</style>
