<template>
    <div class="row product-list pl-sm-0 pr-sm-0 pl-3 pr-3">
        <a :href="`/products/${product.categorySlug}/${product.canonical}`" class="product col-xl-6 col-sm-12 border text-center p-4 mt-4 ml-md-4 ml-sm-0" @click="openProduct(product, $event)" v-for="(product, key) in getProducts"
           v-if="key < shownItems">
            <div class="product-image">
                <img :src="getProductCover(product)" :class="{ placeholder: imageIsPlaceholder}"
                     :alt="product.name">
            </div>
            <div class="product-title">
                <div class="product-name">{{ product.name }}</div>
                <a href="javascript:void(0)"><b class="red details">Подробнее...</b></a>
            </div>
            <product-price additional-row-class="justify-content-center" class="price" :discount-price="product.offers.length ? product.offers[0].discountPrice : null" :price="product.offers.length ? product.offers[0].price : null"></product-price>
        </a>
        <a href="javascript:void(0)" class="show-more" v-if="shownItems < getProducts.length" @click="showNext">
            Показать еще {{ perPageItems < itemsRest ? perPageItems : itemsRest }} из {{ itemsRest }}
        </a>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import ProductPrice from "../Card/ProductPrice";

export default {
    components: {ProductPrice},
    data() {
        return {
            imageIsPlaceholder: false,
            perPageItems: 6,
            shownItems: 12,
            placeholder: '/public/assets/images/placeholder.svg'
        }
    },
    props: {
        categorySlug: String
    },
    methods: {
        getProductPrice(product) {

        },
        getProductCover(product) {
            if (product.cover) {
                return this.getConfig.imagesBaseUrl + product.cover;
            }

            if (product.images.length) {
                return this.getConfig.imagesBaseUrl + product.images[0];
            }

            this.imageIsPlaceholder = true;

            return this.placeholder;
        },
        openProduct(product, $event) {
            $event.preventDefault();
            this.$router.push(`/products/${product.categorySlug}/${product.canonical}`)
        },
        showNext() {
            this.shownItems = this.itemsRest > this.perPageItems ? this.shownItems + this.perPageItems : this.shownItems + this.itemsRest;
        },
        updateProducts() {
            if (!this.categorySlug) {
                return;
            }

            const promise = this.$services.api.getProductsBySlug(this.categorySlug);

            return promise.then(response => {
                this.$store.dispatch('fetchProducts', this.$route.params.category)
            });
        }
    },
    computed: {
        itemsRest() {
            return this.getProducts.length - this.shownItems;
        },
        ...mapGetters(['getProducts', 'getConfig'])
    }
}
</script>

<style scoped>
.show-more {
    display: block;
    margin-top: 24px;
    width: 100%;
    border: solid 1px #3a92f9;
    padding: 16px 0;
    text-align: center;
    color: #3a92f9;
    transition: background-color, color ease-in-out .1s;
}

.show-more:hover {
    background: #3a92f9;
    color: #FFF;
}

a.product {
    flex-basis: calc(50% - 1.5rem);
}

a.product:nth-child(2n) {
    margin-left: 20px;
}

.product-list .product:hover {
    box-shadow: 0 0 8px 2px #8e8383;
    transition: box-shadow ease-in-out .3s;
    text-decoration: none;
}


.product-list .product:nth-child(4n) {
    margin-right: 0;
}

.product .product-title {
    font-weight: 700;
    font-size: 11px;
    margin-top: 15px;
    min-height: 60px;
    margin-bottom: 8px;
}

.product .product-title .product-name {
    height: 100px;
    overflow: hidden;
    font-size: 16px;
}

.details {
    font-size: 14px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.product .product-price {
    margin-top: 20px;
    font-weight: 800;
    font-size: 16px;
}

.product .product-image {
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.product .product-image img {
    width: 100%;
    height: auto;
}

.product .product-image img.placeholder {
    width: 100px;
    height: auto;
}

@media screen and (max-width: 992px){
    .product-list a.product {
        flex: 0 0 100%;
        margin-left: 0;
    }

    .product .product-image {
        height: auto;
    }
}

@media screen and (max-width: 576px){
    .product .product-title .product-name {
        font-size: 14px;
    }

    .details {
        font-size: 13px;
    }

    .price {
        font-size: 19px;
    }
}
</style>
