<template>
    <div v-if="categories && categories.length" class="row pl-sm-0 pr-sm-0 pl-3 pr-3">
        <div class="single-banner-categories-box col-xl-6 col-sm-12 mt-4 ml-md-4 ml-sm-0" v-for="category in categories"
             :style="`background-image: url('${getConfig.imagesBaseUrl + category.image}')`">
            <div class="content">
                <span class="sub-title">{{ category.short }}</span>
                <h3><router-link :to="`/products/${category.canonical}`">{{ category.name }}</router-link></h3>
                <div class="btn-box">
                    <div class="d-flex align-items-center">
                        <router-link class="default-btn text-nowrap" :to="`/products/${category.canonical}`">
                            <b-icon-cart font-scale="1.2"></b-icon-cart> Смотреть
                        </router-link>
                        <span class="price" v-if="category.cheapestPrice">от {{ new Intl.NumberFormat('ru-RU').format(category.cheapestPrice) }} ₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    props: {
        categories: Array | null
    },
    computed: {...mapGetters(['getConfig'])},
    name: "SubcategoriesTiles"
}
</script>

<style scoped>
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.single-banner-categories-box {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    height: 180px;
    background-color: #FFF;
    border: 1px solid #dee2e6;
    flex-basis: calc(50% - 1.5rem);
}

.single-banner-categories-box:before {
    content: '';
    background: #FFF;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    opacity: 0.7;
}

@media screen and (max-width: 992px) {
    .single-banner-categories-box {
        flex: 0 0 100%;
        margin-left: 0;
    }
}

.single-banner-categories-box img {
    transition: all ease-in-out .3s;
    opacity: 0.35;
    left: 0;
}

.single-banner-categories-box .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px
}

.single-banner-categories-box .content .sub-title {
    display: block;
    margin-bottom: 10px;
    color: var(--brand-light-black);
    font-weight: 600
}

.single-banner-categories-box .content h3 {
    font-size: 25px;
    margin-bottom: 0
}

.single-banner-categories-box .content .btn-box {
    margin-top: 15px
}

.single-banner-categories-box .content .btn-box .default-btn {
    font-size: 15px
}

.single-banner-categories-box .content .btn-box .price {
    display: block;
    color: var(--brand-light-black);
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600
}

.single-banner-categories-box:hover img {
    transform: scale(1.05)
}

.default-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    border: none;
    color: #FFFFFF;
    background-color: var(--brand-red);
    border-radius: 5px;
    box-shadow: unset;
    text-align: center;
    padding: 11px 25px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.default-btn svg {
    fill: #FFFFFF;
    transition: all ease-in-out .3s;
}

.default-btn:hover {
    background-color: #FFFFFF;
    color: var(--brand-light-black);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25);
}

.default-btn:hover svg {
    fill: var(--brand-light-black);
}

@media screen and (max-width: 392px) {
    .single-banner-categories-box .content .btn-box .default-btn,
    .single-banner-categories-box .content .btn-box .price {
        font-size: 13px;
    }
}
</style>
