<template>
    <div class="pl-lg-4 pl-md-4 pl-0">
        <p class="text mt-3">Контакты</p>
        <input :class="`form-control mt-1 ${validationErrors.phone ? 'input-error': ''}`"
               v-model="customerData.phone" v-mask="'+7(###) ###-##-##'" type="text"
               placeholder="Номер телефона">
        <input :class="`form-control mt-2 ${validationErrors.email ? 'input-error': ''}`"
               v-model="customerData.email" type="text"
               placeholder="Адрес элетронной почты">
        <address-field class-name="form-control mt-2" placeholder="Адрес доставки" :error="validationErrors.contactAddress" v-model="customerData.contactAddress" :field="{id: 'address-field'}"></address-field>
        <p class="error mt-2">*Все поля обязательны для заполнения</p>
    </div>
</template>

<script>
import AddressField from "../../../components/AddressField";

export default {
    components: {AddressField},
    props: {
        value: Object,
        validationErrors: Object
    },
    computed: {
        customerData: {
            get() {
                return this.value;
            },
            set(customerData) {
                this.$emit('input', customerData)
            }
        },
    },
    name: "ContactFields"
}
</script>

<style scoped>
.text {
    font-size: 17px;
    color: #424242;
    margin-bottom: 0;
}
</style>
