<template>
    <div class="d-lg-flex d-md-flex mt-4 mb-4 d-block">
        <div class="input-wrapper">
            <div class="d-flex align-items-center">
                <input class="radio-input" v-model="type" id="nature-person" type="radio"
                       name="order-type" value="physical"
                       checked/>
                <label for="nature-person">Физическое лицо</label>
            </div>
        </div>
        <div class="input-wrapper">
            <div class="d-flex align-items-center">
                <input class="radio-input" v-model="type" id="legal-person" type="radio"
                       name="order-type" value="legal"
                       placeholder="Юридическое лицо"/>
                <label for="legal-person">Юридическое лицо</label>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: String
    },
    computed: {
        type: {
            get() {
                return this.value;
            },
            set(type) {
                this.$emit('input', type)
            }
        }
    },
    name: "CustomerTypeSwitch"
}
</script>

<style scoped>

label {
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
}

.radio-input {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #356AA0;
    cursor: pointer;
}

.radio-input + label {
    margin-left: 10px;
    white-space: nowrap;
}

.input-wrapper {
    margin-left: 20px;
}

.input-wrapper:not(:first-child) {
    margin-left: 100px;
}

@media screen and (max-width: 992px) {
    .input-wrapper:not(:first-child) {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .input-wrapper:not(:first-child) {
        margin-top: 20px;
    }

    .input-wrapper.input-wrapper {
        margin-left: 0;
    }

    .radio-input + label {
        font-size: 16px;
    }
}
</style>
