<template>
    <div class="pl-lg-4 pl-md-4 pl-0">
        <p class="text mt-3 legal">Форма собственности</p>
        <input
            :class="`form-control legal mt-1 ${validationErrors.typeOfOwnership ? 'input-error': ''}`"
            v-model="customerData.typeOfOwnership" type="text" placeholder="АО, ООО, ГБУ, ИП, прочее">
        <p class="text mt-2 legal">Название компании</p>
        <input :class="`form-control mt-1 legal ${validationErrors.companyName ? 'input-error': ''}`"
               v-model="customerData.companyName" type="text">
        <p class="text mt-2 legal">ИНН компании</p>
        <input :class="`form-control legal mt-1 ${validationErrors.inn ? 'input-error': ''}`"
               v-model="customerData.inn" type="text">
        <p class="text mt-2 legal">Ф.И.О контактного лица</p>
        <input :class="`form-control legal mt-1 ${validationErrors.contactName ? 'input-error': ''}`"
               v-model="customerData.contactName" type="text">
        <p class="text mt-2 legal">Юридический адрес нахождения компании</p>
        <address-field :error="validationErrors.address" class-name="form-control mt-1" v-model="customerData.address" :field="{id: 'legal-address-field'}"></address-field>
    </div>
</template>

<script>
import AddressField from "../../../components/AddressField";

export default {
    components: {
        AddressField
    },
    props: {
        value: Object,
        validationErrors: Object
    },
    computed: {
        customerData: {
            get() {
                return this.value;
            },
            set(customerData) {
                this.$emit('input', customerData)
            }
        }
    },
    name: "LegalFields"
}
</script>

<style scoped>
.text {
    font-size: 17px;
    color: #424242;
    margin-bottom: 0;
}
</style>
