<template>
    <div>
        <ProductsTable :items="items" class="d-none d-sm-block"></ProductsTable>
        <MobileProductsTable :items="items" class="d-block d-sm-none"></MobileProductsTable>
    </div>
</template>

<script>
import ProductsTable from "../OrderConfirmed/block/ProductsTable";
import MobileProductsTable from "../OrderConfirmed/block/MobileProductsTable";
export default {
    props: {
        items: Array
    },
    components: {
        ProductsTable, MobileProductsTable
    },
    computed: {
        tableItems() {
            return this.items.map(cartItem => {
                return {
                    name: cartItem.name,
                    amount: cartItem.amount,
                }
            });
        }
    },
    name: "OrderItems"
}
</script>

<style scoped>

</style>
