<template>
    <div class="pl-lg-4 pl-md-4 pl-0">
        <p class="text mt-3 person">Ф.И.О.</p>
        <input :class="`form-control mt-1 person ${validationErrors.lastName ? 'input-error': ''}`"
               v-model="customerData.lastName" type="text" placeholder="Фамилия">
        <input :class="`form-control mt-2 person ${validationErrors.firstName ? 'input-error': ''}`"
               v-model="customerData.firstName" type="text" placeholder="Имя">
        <input :class="`form-control mt-2 person ${validationErrors.middleName ? 'input-error': ''}`"
               v-model="customerData.middleName" type="text" placeholder="Отчество">
    </div>
</template>

<script>
export default {
    props: {
        value: Object,
        validationErrors: Object
    },
    computed: {
        customerData: {
            get() {
                return this.value;
            },
            set(customerData) {
                this.$emit('input', customerData)
            }
        }
    },
    name: "PhysicalFields"
}
</script>

<style scoped>
.text {
    font-size: 17px;
    color: #424242;
    margin-bottom: 0;
}
</style>
