.articles img.left {
    float: left;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .articles img.left {
        float: none !important;
        width: 100% !important;
        height: auto !important;
    }
}
