@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');

:root {
    --brand-light-blue: #3a92f9;
    --brand-dark-blue: #232153;
    --brand-crimson: #d82346;
    --brand-red: #e84534;
    --brand-green: #008000;
    --brand-light-gray: #ececec;
    --brand-gray: #5e5e5e;
    --brand-light-black: #424242;
    --brand-white: #ffffff;
    --primary: #e84534
}

* {
    font-family: 'Open Sans', sans-serif;
    color: #424242;
}

a {
    color: #3a92f9;
}

a:hover {
    color: #3a92f9;
    text-decoration: underline;
}

h1.title {
    font-size: 30px;
}

#app .breadcrumb {
    list-style: none;
    background-color: #FFF;
    padding-left: 0;
    border-radius: 0;
}

h1 {
    font-size: 30px !important;
    font-weight: bold !important;
}

h2 {
    font-size: 24px !important;
    font-weight: bold !important;
}

h3 {
    font-size: 20px !important;
    font-weight: bold !important;
}

h4 {
    font-size: 16px !important;
    font-weight: bold !important;
}

p, span, div {
    font-size: 16px;
}

.input-error {
    border-color: #e84534;
}

.autocomplete-list-wrapper .autocomplete-input {
    background-image: none;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.arrow {
    width: 16px;
    height: 16px;
    border-color: #5E5E5E;
    border-top: 1px solid;
    border-left: 1px solid;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.arrow.down {
    transform: rotate(225deg);
}

@media screen and (max-width: 992px ) {
    h1 {
        font-size: 30px !important;
        font-weight: bold !important;
    }

    h2 {
        font-size: 24px !important;
        font-weight: bold !important;
    }

    h3 {
        font-size: 20px !important;
        font-weight: bold !important;
    }

    h4 {
        font-size: 16px !important;
        font-weight: bold !important;
    }

    p, span, div {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 22px !important;
        font-weight: bold !important;
    }

    h2 {
        font-size: 18px !important;
        font-weight: bold !important;
    }

    h3 {
        font-size: 16px !important;
        font-weight: bold !important;
    }

    h4 {
        font-size: 15px !important;
        font-weight: bold !important;
    }

    p, span, div {
        font-size: 14px;
    }
}



