.map-schedule-list {
    padding: 0;
    margin-top: 5px;
    list-style: none;
}

div.baloon-content-wrapper > div {
    font-size: 14px;
}

span.map-schedule-item-key {
    width: 35px;
    font-size: 14px;
    display: block;
    font-weight: bold;
}

.map-schedule-list li {
    display: flex;
}
