<template functional>
  <div class="content-container">
          <div class="error-body">
              <h1 class="title font-weight-bold mt-4">Ошибка 404</h1>
              <p>Кажется что-то
                  пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена, или был
                  введен неверный адрес.</p>
              <div class="d-flex controls flex-wrap">
                  <a href="/" class="mt-2">Вернуться на главную</a>
                  <a href="javascript:void(0)" class="mt-2" onclick="window.history.back()">Вернуться назад</a>
              </div>
          </div>
  </div>
</template>

<script>
export default {
    name: "NotFound",
    async asyncData({store}) {
        await store.commit('setNotFound');
    }
}
</script>

<style scoped>
.error-body {
    display: flex;
    flex-direction: column;
    padding: 7vw 0 10px;
}

.error-body .title {
    font-size: 42px;
    font-weight: 700;
    flex: 0 0 70px;
    margin: 0 auto;
}

.error-body p {
    font-size: 16px;
    flex: 0 0 70px;
    margin: 0 auto;
    text-align: center;
    padding: 20px
}

.controls {
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.error-body .controls a {
    color: #ffffff;
    text-align: center;
    background-color: #e84534;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0;
    border: 1px solid #e84534;
    border-radius: 2px;
    width: 180px;
    margin: 0 auto;
}

.error-body .controls a:first-child {
    color: #e84534;
    background: #ffffff;
}

.error-body .controls a:first-child:hover {
    background: #e84534;
    color: #FFFFFF;
}

.error-body .controls a:not(:first-child):hover {
    background: #FFFFFF;
    color: #e84534;
}

</style>
