<template>
    <div style="width: 100%; height: 400px">
        <yandex-map v-if="showMap" style="height: 100%"
                    :coords="mapCenter"
                    :zoom="currentZoom">
            <ymap-marker v-for="marker in markers"
                         @click="to"
                         :key="marker.id"
                         :marker-id="marker.id"
                         :coords="marker.coords"
                         :icon="marker.icon"
                         :balloon="marker.balloon"
            />

        </yandex-map>
    </div>
</template>

<script>
import {yandexMap, ymapMarker} from 'vue-yandex-maps'
import {mapGetters} from "vuex";

export default {
    methods: {
        to(event) {
            this.mapCenter = event.get('coords');
        }
    },
    data() {
        return {
            mapCenter: [59,412, 56,778],
            currentZoom: 4,
            showMap: false,
        }
    },
    computed: {
        ...mapGetters(['getPointsOfSales', 'getDaysOfWeekTranslation']),
        markers() {
            return this.getPointsOfSales.map(pointOfSales => {
                const schedule = pointOfSales.scheduleItems.map(scheduleItem => {
                    let initialString = `<span class="map-schedule-item-key">${this.getDaysOfWeekTranslation[scheduleItem.dayOfWeek]}:</span> ${scheduleItem.from}-${scheduleItem.to}`;

                    if (scheduleItem.lunchFrom && scheduleItem.lunchTo) {
                        initialString += `. Обед с ${scheduleItem.lunchFrom} до ${scheduleItem.lunchTo}`
                    }

                    return `<li>${initialString}</li>`;
                })

                const link = pointOfSales.link ? `<br/><a href="${pointOfSales.link}" target="_blank">${pointOfSales.linkTitle || pointOfSales.link}</a>` : '';

                return {
                    id: pointOfSales.id,
                    coords: [pointOfSales.latitude, pointOfSales.longitude],
                    balloon: {
                        header: pointOfSales.title,
                        body: `<div class="baloon-content-wrapper"><div class="mt-3"><b>${pointOfSales.address}.</b>${link}</div><div class="mt-3 text-secondary"><a href="tel:${pointOfSales.phone}">${pointOfSales.phone}</a></div><div class="mt-3 font-weight-bold">График работы:</div><div><ul class="map-schedule-list">${schedule.join('')}</ul></div></div>`
                    },
                    icon: {
                        layout: 'default#imageWithContent',
                        imageHref: '/dist/logo.png',
                        imageSize: [22, 29],
                        imageOffset: [-8, -11]
                    }
                }
            })
        }
    },
    components: {
        yandexMap, ymapMarker
    },
    mounted() {
        this.showMap = true;
    },
    name: "MapComponent"
}
</script>

<style scoped>

</style>
