<template>
    <div v-if="product && product.offers.length">
        <template v-if="compareIsAvailable">
            <a href="javascript:void(0)" class="d-flex align-items-center compare" v-if="!$store.getters.isProductInCompare(product.id)"
               @click="$store.dispatch('addProductToCompare', product)">
                <svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10 3a1 1 0 00-1-1H2a1 1 0 100 2h7a1 1 0 001-1zm0 4.5a1 1 0 00-1-1H2a1 1 0 100 2h7a1 1 0 001-1zM6 11a1 1 0 110 2H2a1 1 0 110-2h4zm7 3a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 112 0v1h1a1 1 0 110 2h-1v1z"
                          fill="#3a92f9"></path>
                </svg>
                <div class="ml-1">Добавить к сравнению</div>
            </a>
            <a href="javascript:void(0)" class="d-flex align-items-center compare" v-else>
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-e2">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10 3a1 1 0 00-1-1H2a1 1 0 100 2h7a1 1 0 001-1zm4.71 7.27a.96.96 0 00-1.356.022l-2.336 2.41-.88-.807-.094-.076a.96.96 0 00-1.203 1.49l1.569 1.439.092.074a.96.96 0 001.245-.114l2.985-3.081.079-.092a.96.96 0 00-.1-1.265zM9 6.5a1 1 0 110 2H2a1 1 0 110-2h7zM7 12a1 1 0 00-1-1H2a1 1 0 100 2h4a1 1 0 001-1z"
                          fill="#3a92f9"></path>
                </svg>
                <div class="ml-1">
                    <template v-if="compareItems.length > 1">
                        <router-link to="/compare">Перейти к сравнению</router-link>
                    </template>
                    <template v-else>Добавлено к сравнению</template>
                </div>
            </a>
        </template>
        <template v-else>
            <a href="javascript:void(0)" class="d-flex align-items-center compare">
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-e2">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10 3a1 1 0 00-1-1H2a1 1 0 100 2h7a1 1 0 001-1zm4.71 7.27a.96.96 0 00-1.356.022l-2.336 2.41-.88-.807-.094-.076a.96.96 0 00-1.203 1.49l1.569 1.439.092.074a.96.96 0 001.245-.114l2.985-3.081.079-.092a.96.96 0 00-.1-1.265zM9 6.5a1 1 0 110 2H2a1 1 0 110-2h7zM7 12a1 1 0 00-1-1H2a1 1 0 100 2h4a1 1 0 001-1z"
                          fill="#3a92f9"></path>
                </svg>
                <div class="ml-1">
                    <template>
                        <router-link to="/compare">Перейти к сравнению</router-link>
                    </template>
                </div>
            </a>
        </template>

    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    props: {
        product: Object
    },
    computed: {...mapGetters(['compareIsAvailable', 'compareItems'])},
    name: "AddToCompare"
}
</script>

<style scoped>

.compare {
    text-decoration: none;
}

.compare > div {
    color: #3a92f9;
}
</style>
