<template>
    <div>
        <a @click="$emit('offer-selected')" href="javascript:void(0)" :class="`d-block p-1 ${activeOfferId === offer.id ? 'active': ''}`">
            <template v-if="!offer.color">{{ offer.displayName }}</template>
            <template v-else>
                <div class="color-offer" v-tooltip="offer.displayName">
                    <div :style="`background-image: url(${getConfig.imagesBaseUrl + offer.color})`"></div>
                </div>
            </template>
        </a>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    name: 'ProductCardOffer',
    props: {
        offer: Object,
        activeOfferId: Number
    },
    computed: {
        ...mapGetters(['getConfig'])
    }
}
</script>

<style scoped>
.color-offer {
    width: 80px;
    height: 80px;
    padding: 4px;
    border: solid 2px transparent;
}

.color-offer > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.active .color-offer {
    border: solid 2px var(--red);
}
</style>
