<template>
    <div>
        <h2 class="mt-5 mb-3">{{ title }}</h2>
        <ul class="leaders margin-top-m pl-0">
            <li v-for="property in productProperties">
                <span>{{ property.label }}</span><span class="dots"></span><span>{{ property.value }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        description: String,
        productProperties: Array,
        title: String
    }
}
</script>

<style scoped>
ul.leaders li {
    display: flex;
    justify-content: space-between;
}

ul.leaders li span + span {
    margin-left: auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.dots {
    flex-grow: 1;
    display: block;
    overflow: hidden;
    height: 16px;
    border-bottom: 1px dotted;
}
</style>
