<template>
    <div class="gallery pl-0 pr-0" :style="`${minHeight ? 'min-height: ' + minHeight : ''}`">
        <template v-if="images && images.length">
            <template v-if="typeof images[activeImage].sketch !== 'undefined'">
                <div class="sketch" v-html="images[activeImage].sketch"></div>
            </template>
            <template v-else>
                <a :href="getConfig.imagesBaseUrl + images[activeImage]" itemprop="image" class="active-image"
                   @click="e => { e.preventDefault(); selectedImage = getConfig.imagesBaseUrl + images[activeImage] }">
                    <img :src="getConfig.imagesBaseUrl + images[activeImage]" alt="">
                </a>
            </template>
            <div class="product-images-list" v-if="!hideImageBox">
                <div class="img-l-box" @click="prevImage()">
                    <img src="../../../../public/assets/images/arrow-back.png"/>
                </div>
                <div class="image" @click="activeImage = key" :class="{active: activeImage === key}"
                     v-for="(image, key) in images">
                    <template v-if="image && image.sketch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-badge-3d-fill" viewBox="0 0 16 16">
                            <path d="M10.157 5.968h-.844v4.06h.844c1.116 0 1.621-.667 1.621-2.02 0-1.354-.51-2.04-1.621-2.04z"/>
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm5.184 4.368c.646 0 1.055.378 1.06.9.008.537-.427.919-1.086.919-.598-.004-1.037-.325-1.068-.756H3c.03.914.791 1.688 2.153 1.688 1.24 0 2.285-.66 2.272-1.798-.013-.953-.747-1.38-1.292-1.432v-.062c.44-.07 1.125-.527 1.108-1.375-.013-.906-.8-1.57-2.053-1.565-1.31.005-2.043.734-2.074 1.67h1.103c.022-.391.383-.751.936-.751.532 0 .928.33.928.813.004.479-.383.835-.928.835h-.632v.914h.663zM8.126 11h2.189C12.125 11 13 9.893 13 7.985c0-1.894-.861-2.984-2.685-2.984H8.126V11z"/>
                        </svg>
                    </template>
                    <template v-else>
                        <img :src="getConfig.imagesBaseUrl + image" alt="">
                    </template>
                </div>
                <div class="img-r-box" @click="nextImage()">
                    <img src="../../../../public/assets/images/arrow-forward.png"/>
                </div>
            </div>
            <modal-component width="55%" height="auto" v-if="selectedImage" @close="selectedImage = null; activeKey = null">
                <div slot="body">
                    <div class="d-flex justify-content-center overflow-hidden" v-touch:swipe.left="nextBigImage" v-touch:swipe.right="prevBigImage">
                        <div class="modal-left-button d-none d-lg-block">
                            <img src="/public/assets/images/left.jpg" @click="prevBigImage"/>
                        </div>
                        <div class="modal-right-button d-none d-lg-block">
                            <img src="/public/assets/images/right.jpg" @click="nextBigImage"/>
                        </div>
                        <img :src="selectedImage" class="image">
                    </div>
                </div>
            </modal-component>
        </template>
    </div>
</template>

<script>

import {mapGetters} from 'vuex';
import ModalComponent from "../../Modal/ModalComponent";

export default {
    components: {ModalComponent},
    props: {
        images: Array | null,
        hideImageBox: Boolean,
        minHeight: String | null
    },
    data() {
        return {
            activeImage: 0,
            selectedImage: null,
            activeKey: null
        }
    },
    watch: {
        images() {
            this.activeImage = 0;
        }
    },
    computed: {
        ...mapGetters(['getConfig'])
    },
    methods: {
        setSelectedImage(item, key) {
            this.activeKey = key;
            this.selectedImage = this.getConfig.imagesBaseUrl + item
        },
        nextBigImage() {
            if (this.activeKey === this.images.length - 1) {
                this.activeKey = 0;
                this.setSelectedImage(this.images[0], 0);

                return;
            }

            this.setSelectedImage(this.images[this.activeKey + 1], this.activeKey + 1)
        },
        prevBigImage() {
            if (this.activeKey === 0) {
                this.activeKey = this.images.length;
                this.setSelectedImage(this.images[this.images.length - 1], this.images.length - 1)

                return;
            }

            this.setSelectedImage(this.images[this.activeKey - 1], this.activeKey - 1)
        },

        prevImage() {
            if (this.activeImage === 0) {
                this.activeImage = this.images.length - 1

                return
            }

            this.activeImage--
        },
        nextImage() {
            if (this.activeImage === this.images.length - 1) {
                this.activeImage = 0;

                return
            }

            this.activeImage++
        },
    }
}
</script>

<style scoped>
.modal-left-button img,
.modal-right-button img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.modal-left-button,
.modal-right-button {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.modal-left-button {
    position: absolute;
    opacity: 0.2;
    top: 50%;
    left: 5%;
}

.modal-right-button {
    border-radius: 24px;
    position: absolute;
    opacity: .2;
    top: 50%;
    right: 5%;
}

.modal-right-button:hover, .modal-left-button:hover {
    opacity: 0.6;
}

.gallery {
    display: flex;
    flex-direction: column;
    min-height: 440px;
}

.product-images-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.product-images-list .image {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    border: solid 2px transparent;
}

.product-images-list .image.active {
    border: solid 2px #e84534;
}

.active-image {
    cursor: pointer;
}

.active-image img,
.product-images-list .image img {
    width: 100%;
    height: auto;
}

.img-l-box, .img-r-box {
    padding: 7px;
    cursor: pointer;
    user-select: none;
}

.active-image {
    max-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

.image {
    max-width: 100%;
    height: auto;
}

.sketch {
    height: 380px;
}
</style>
