<template>
    <div class="flex amount">
        <div class="amount-element" @click="decreaseAmount()">-</div>
        <div class="amount-element">{{ currentAmount }}</div>
        <div class="amount-element" @click="increaseAmount()">+</div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentAmount: 1
        }
    },
    props: {
        limit: Number
    },
    watch: {
        currentAmount: function (newValue) {
            this.$emit('input', newValue);
        }
    },
    methods: {
        decreaseAmount() {
            if (this.currentAmount <= 1) {
                this.currentAmount = 1;
                return;
            }

            this.currentAmount--;
        },
        increaseAmount() {
            if (this.currentAmount >= this.limit) {
                return;
            }

            this.currentAmount++;
        }
    }
}
</script>

<style scoped>
.amount {
    background-color: #ececec;
    display: flex;
}

.amount-element {
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}
</style>
