<template>
    <div>
        <template v-if="discountPrice">
            <div class="product-price">
                <div>
                    <div :class="`old-price ${additionalRowClass}`">
                        <div class="old-price-text ml-2"><del>{{ new Intl.NumberFormat('ru-RU').format(price) }} ₽</del></div>
                        <div class="new-price ml-2">
                            {{ new Intl.NumberFormat('ru-RU').format(discountPrice) }} ₽
                        </div>
                    </div>
                    <div :class="`d-flex align-items-center ${additionalRowClass}`">
                        <div class="ml-2">Выгода:</div>
                        <span class="discount-value ml-2">{{ new Intl.NumberFormat('ru-RU').format(price - discountPrice) }} ₽</span>
                    </div>
                </div>
            </div>
        </template>
        <template v-else-if="price">
            <div class="new-price mt-4">
                {{ new Intl.NumberFormat('ru-RU').format(price) }} ₽
            </div>
        </template>
        <template v-else>
            Под заказ
        </template>
    </div>
</template>

<script>
export default {
    props: {
        additionalRowClass: String | null,
        price: String | null,
        discountPrice: Number | null
    }
}
</script>

<style scoped>

.product-price {
    margin-top: 0;
    padding: 25px 0 7px;
    height: auto;
    font-size: 34px;
    line-height: 1.12;
    font-weight: 700;
    font-style: normal;
    color: #262626;
    font-stretch: condensed;
    letter-spacing: normal;
}

.product-price > div {
    position: relative;
    vertical-align: bottom;
}

.old-price {
    display: flex;
    align-items: baseline;
    font-size: 22px;
    line-height: normal;
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    letter-spacing: normal;
}

.old-price span:not(.discount-value),
.old-price del {
    color: #9d9d9d;
}

.discount-value {
    margin: 0;
    padding: 0 10px;
    border-radius: 2px;
    background-color: #e84534;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: .5px;
    color: #fff;
    vertical-align: baseline;
}

.new-price {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-stretch: initial;
    line-height: 40px;
    letter-spacing: normal;
    color: #262626;
}
</style>
