<template>
    <div v-if="present && typeof present.presentProduct !== 'undefined'" class="present mt-4">
        <h3>Подарок при покупке</h3>
        <span class="d-block mb-3 alert alert-success" v-if="present.description">{{ present.description }}</span>
        <div class="d-flex p-4 mb-4 overflow-hidden">
            <div class="image d-none d-sm-flex mr-4">
                <img :src="getConfig.imagesBaseUrl + present.presentProduct.cover" :alt="present.presentProduct.name" />
            </div>
            <div>
                <h4>
                    <router-link :to="`/products/${present.presentProduct.categorySlug}/${present.presentProduct.canonical}`">
                        {{ present.presentProduct.name }}
                    </router-link>
                </h4>
                <product-price v-if="present.presentProduct.offers && present.presentProduct.offers.length" :price="present.presentProduct.offers[0].price"></product-price>
            </div>
        </div>
    </div>
</template>

<script>
import ProductPrice from "./ProductPrice";
import {mapGetters} from "vuex";

export default {
    components: {ProductPrice},
    props: {
        present: Object | null
    },
    computed: {...mapGetters(['getConfig'])},
    name: "ProductPresent"
}
</script>

<style scoped>
img {
    width: 100%;
    height: auto;
}

.present > div {
    border: dashed 1px #CCC;
}

.image {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 39%;
    min-width: 50px;
    display: flex;
}
</style>
