<template>
    <div v-if="galleryItems && galleryItems.length">
        <h2 class="mt-5 mb-3">Галерея</h2>
        <div class="d-flex flex-wrap" v-if="galleryItems && galleryItems.length">
            <div class="gallery-item-container" @click="setSelectedImage(item, key)" v-for="(item, key) in galleryItems">
                <img :src="getConfig.imagesBaseUrl + item">
            </div>
        </div>
        <modal-component class="" width="55%" height="auto" v-if="selectedImage" @close="selectedImage = null; activeKey = null">
            <div slot="body">
                <div class="modal-left-button">
                    <img src="/public/assets/images/left.jpg" @click="prevImage"/>
                </div>
                <div class="modal-right-button">
                    <img src="/public/assets/images/right.jpg" @click="nextImage"/>
                </div>
                <img :src="selectedImage">
            </div>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "../../Modal/ModalComponent";
import {mapGetters} from "vuex";

export default {
    name: "ProductGallery",
    components: {ModalComponent},
    data() {
        return {
            activeKey: null,
            selectedImage: null
        }
    },
    props: {
        galleryItems: Array | null
    },
    methods: {
        setSelectedImage(item, key) {
            this.activeKey = key;
            this.selectedImage = this.getConfig.imagesBaseUrl + item
        },
        nextImage() {
            if (this.activeKey === this.galleryItems.length - 1) {
                this.activeKey = 0;
                this.setSelectedImage(this.galleryItems[0], 0);

                return;
            }

            this.setSelectedImage(this.galleryItems[this.activeKey + 1], this.activeKey + 1)
        },
        prevImage() {
            if (this.activeKey === 0) {
                this.activeKey = this.galleryItems.length;
                this.setSelectedImage(this.galleryItems[this.galleryItems.length - 1], this.galleryItems.length - 1)

                return;
            }

            this.setSelectedImage(this.galleryItems[this.activeKey - 1], this.activeKey - 1)
        },
    },
    computed: {...mapGetters(['getConfig'])}
}
</script>

<style scoped>
h2 {
    font-size: 24px;
    font-weight: bold;
}

.modal-left-button img,
.modal-right-button img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.modal-left-button,
.modal-right-button {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.modal-left-button {
    position: absolute;
    opacity: 0.2;
    top: 50%;
    left: 5%;
}

.modal-right-button {
    border-radius: 24px;
    position: absolute;
    opacity: .2;
    top: 50%;
    right: 5%;
}

.modal-right-button:hover, .modal-left-button:hover {
    opacity: 0.6;
}

.gallery-item-container {
    cursor: pointer;
    display: flex;
    flex-basis: calc(25% - 16px);
    height: 190px;
    margin-right: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 16px;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    .gallery-item-container {
        flex-basis: calc(33.33333% - 16px);
    }
}

@media screen and (max-width: 992px) {
    .gallery-item-container {
        flex-basis: 50%;
        height: 180px;
    }

    .modal-right-button,
    .modal-left-button {
        top: 37%;
    }
}

@media screen and (max-width: 768px) {
    .gallery-item-container {
        margin-right: 0;
        flex-basis: 100%;
        height: 190px;
    }
}
</style>
