<template>
    <div v-if="product" itemscope="" itemtype="http://schema.org/Product">
        <div class="row">
            <breadcrumb-component :links="breadcrumbs"></breadcrumb-component>
            <h1 class="mt-3 mt-lg-0 text-center text-md-left" itemprop="name">{{ product.name }}</h1>
            <div class="w-100" v-if="$store.getters.activePromotion" v-html="$store.getters.activePromotion.productsMessage"></div>
        </div>
        <div class="product-container row mt-3 p-4 pl-0 pr-0">
            <product-images :images="productImages" class="col-12 col-lg-6"></product-images>
            <div class="description-container col-12 col-lg-6 flex-column d-flex justify-content-between pl-0 pl-lg-3 pr-0 mt-4 mt-md-0">
                <div class="description">
                    <div v-html="product.announce"></div>
                    <product-present :present="present"></product-present>
                    <div class="font-weight-bold">По всем интересующимся вопросам обратитесь к нашему менеджеру по телефону <a :href="`tel:${getShopData.phones[0].number}`">{{ getShopData.phones[0].number }}</a> БЕСПЛАТНО</div>
                </div>
                <product-configuration :configuration="productConfiguration" v-model="selectedConfigurationValues"></product-configuration>
                <template v-if="product.offers && (product.offers.length > 1 || product.offers.some(offer => offer.color))">
                    <div class="d-flex offers-list mt-4" v-if="product.offers && product.offers.length > 1">
                          <product-card-offer :offer="offer"
                                              :active-offer-id="activeOffer.id"
                                              @offer-selected="activeOffer = offer"
                                              v-for="(offer, key) in product.offers" :key="`offer-${key}`">
                          </product-card-offer>
                    </div>
                    <div class="tip mt-2">
                        <div>
                            Обращаем Ваше внимание, что цвет материалов на экране монитора и на изготовленной продукции может отличаться от реального из-за различий цветопередачи используемых для просмотра мониторов.
                        </div>
                    </div>
                </template>
                <div class="d-flex align-items-center mt-5 flex-sm-row flex-column-reverse">
                    <div class="price">
                        <product-price :discount-price="isAvailable ? activeOffer.discountPrice : null" :price="isAvailable ? activeOffer.price : null"></product-price>
                    </div>
                    <add-to-compare :product="product" class="m-auto ml-sm-auto mr-sm-0 mb-3 mb-sm-0"></add-to-compare>
                </div>
                <div class="lower-block mt-4">
                    <div class="upper-line mt-2">
                        <div class="offer">
                            <a class="offer-link" v-tooltip="'Скачать коммерческое предложение'">Коммерческое предложение</a>
                        </div>
                    </div>
                    <div class="lower-line mt-2">
                        <product-amount v-if="isAvailable" v-model="selectedAmount"></product-amount>
                        <template v-if="isAvailable">
                            <div class="buy-btn col-12 col-xl-4 mt-4 mt-xl-0"
                                 @click="buyByOneClick">
                                Купить в один клик
                            </div>
                            <add-to-card-button class="col-12 col-xl-4 mt-4 mt-xl-0"
                                                :present="present"
                                                :offer="activeOffer"
                                                :product="product"
                                                :amount="selectedAmount"
                                                :selected-configuration-values="selectedConfigurationValues || undefined"
                            >
                            </add-to-card-button>
                        </template>
                    </div>
                    <div v-if="isAvailable" class="tip mt-2">
                        <div>Цена действительна только в интернет-магазине и может отличаться от цен в розничных магазинах.</div>
                        <div class="mt-2">Оформление заказа не обязывает вас к покупке. Оформив заказ вы лишь показываете заинтересованность в нашей продукции</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detailed mt-5 row" ref="details">
            <tabs-component :tab-data="tabs">
                <div slot="0" class="container mt-4 pl-4 pr-4 pr-md-0 pl-sm-0 tabs-font" v-if="product.description">
                    <h2 class="mt-5 mb-3">Описание</h2>
                    <div v-html="product.description" itemprop="description"></div>
                </div>
                <div slot="1" class="container mt-4 pl-4 pr-4 pr-md-0 pl-sm-0 tabs-font" v-if="product.properties.length">
                    <product-characteristics title="Технические характеристики" :product-properties="product.properties">
                    </product-characteristics>
                </div>
                <div slot="2" class="container mt-4 pl-4 pr-4 pr-md-0 pl-sm-0 tabs-font" v-if="product.equipments.length">
                    <product-characteristics title="Комплектация" :product-properties="product.equipments">
                    </product-characteristics>
                </div>
                <div slot="3" class="container mt-4 pl-4 pr-4 pr-md-0 pl-sm-0 tabs-font" v-if="product.gallery.length">
                   <product-gallery :gallery-items="product.gallery"></product-gallery>
                </div>
            </tabs-component>
        </div>
        <div itemprop="offers" v-if="activeOffer" itemscope="" itemtype="http://schema.org/Offer">
            <meta itemprop="price" :content="activeOffer.price">
            <meta itemprop="priceCurrency" content="RUB">
            <link itemprop="availability" :href="isAvailable ? 'http://schema.org/InStock' : 'http://schema.org/OutOfStock'">
        </div>
    </div>
</template>

<style scoped>
    h1 {
        font-size: 30px;
    }

    .product-container {
        border: solid 1px #ececec;
        min-height: 450px;
    }

    .price {
        font-weight: bold;
        font-size: 27px;
    }

    .upper-line {
        flex-direction: column;
        justify-content: space-between;
        float: right;
        display: none;
    }

    .offer {
        width: 154px;
        height: 46px;
        display: grid;
        margin-bottom: 4px;
    }

    .offer-link {
        background-color: var(--red);
        padding: 4px 16px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
    }

    .offers-list a {
        font-size: 14px;
        color: var(--brand-light-black);
        text-decoration: none;
        flex: 1;
        border: solid 1px var(--brand-light-gray);
        background: #FFFFFF;
        max-height: 48px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .offers-list a:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .offers-list a:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .offers-list a.active {
        background: var(--brand-red);
        color: #FFFFFF;
        border-color: var(--brand-red);
        box-shadow: 0 5px 8px 0 rgba(145, 2, 2, 0.3);
    }

    .offers-list a:not(:first-child) {
        margin-left: -1px;
    }

    .credit {
        width: 154px;
        height: 46px;
        display: grid;
        margin-bottom: 4px;
    }

    .credit-link {
        background-color: #3a92f9;
        padding: 12px 10px;
        color: #fff;
        text-align: center;
        cursor: pointer;
    }

    .lower-line {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }

    .buy-btn {
        border: 1px solid #e84534;
        color: var(--white);
        background: #e84534;
        padding: 8px;
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
    }

    .buy-btn:hover {
        color: #e84534;
        background: var(--white);
    }

    .tip > div {
         font-size: 10px;
         color: #5e5e5e;
     }


    img {
        width: 100%;
        height: auto;
    }

    .tab-content {
        min-height: 300px;
    }

    @media screen and (max-width: 576px){
        .product-container {
            margin: 2px;
        }

        h1 {
            font-size: 20px!important;
            margin-top: 30px!important;
            padding: 0 18px;
        }

        .price div {
            font-size: 20px!important;
        }

        .tabs-font  {
            font-size: 11px;
        }
    }
</style>

<script>
    import ProductPrice from "./ProductPrice";
    import ProductImages from "./ProductImages";
    import ProductAmount from "./ProductAmount";
    import TabsComponent from "../../Tabs/TabsComponent";
    import ProductCharacteristics from "./ProductCharacteristics";
    import ModalComponent from "../../Modal/ModalComponent";
    import {mapGetters} from 'vuex'
    import BreadcrumbComponent from "../../../components/BreadcrumbComponent";
    import ProductGallery from "./ProductGallery";
    import AddToCardButton from "../../../components/AddToCardButton";
    import AddToCompare from "./AddToCompare";
    import ProductPresent from "./ProductPresent";
    import ProductCardOffer from './ProductCardOffer'
    import ProductConfiguration from './ProductConfiguration/ProductConfiguration'

    export default {
        components: {
            ProductConfiguration,
            ProductCardOffer,
            ProductPresent,
            AddToCompare,
            AddToCardButton,
            ProductGallery,
            BreadcrumbComponent,
            ProductCharacteristics, TabsComponent, ProductAmount, ProductImages, ProductPrice, ModalComponent},
        data() {
            return {
                present: null,
                selectedAmount: 1,
                product: null,
                activeOffer: null,
                selectedImage: null,
                productConfiguration: null,
                selectedConfigurationValues: null
            }
        },
        methods: {
            toDetails() {
                this.$refs.details.scrollIntoView({
                    behavior: 'smooth'
                });
            },
            buyByOneClick() {
                this.$store.commit('addOneClickProductConfiguration', this.selectedConfigurationValues);

                this.$router.push(`/checkout?offerId=${this.activeOffer.id}&productId=${this.product.id}&amount=${this.selectedAmount}`)
            }
        },

        computed: {
            ...mapGetters(['getConfig', 'getProduct', 'getShopData']),
            productImages() {
                const images = [];

                if (this.activeOffer.cover) {
                    images.push(this.activeOffer.cover)
                }

                images.push(...this.activeOffer.images);

                if (this.product.cover) {
                    images.push(this.product.cover)
                }

                images.push(...this.product.images);

                if (this.activeOffer.sketch) {
                    images.push({sketch: this.activeOffer.sketch});
                }

                if (this.product.sketch) {
                    images.push({sketch: this.product.sketch});
                }

                return images;
            },
            tabs() {
                const tabs = [];
                if (this.product.description) {
                    tabs.push({name: 'Описание'})
                }

                if (this.product.properties.length) {
                    tabs.push({name: 'Характеристики'})
                }

                if (this.product.equipments.length) {
                    tabs.push({name: 'Комплектация'})
                }

                if (this.product.gallery.length) {
                    tabs.push({name: 'Галерея'})
                }

                return tabs;
            },
            breadcrumbs() {
              return [
                  {
                      title: 'Главная',
                      href: '/'
                  },
                  {
                      title: 'Товары',
                      href: '/products'
                  },
                  {
                      title: this.product.categoryName,
                      href: `/products/${this.product.categorySlug}/`
                  },
                  {
                      title: this.product.name,
                      current: true
                  }
              ];
            },
            galleryItems() {
                return this.product.images.slice(3).filter(image => image !== this.product.mainImage)
            },
            isAvailable()  {
                return this.activeOffer && this.activeOffer.price
            }
        },

        async mounted() {
            this.product = this.getProduct;

            if (this.getProduct.offers.length) {
                this.activeOffer = this.getProduct.offers[0];
            }

            const response = await this.$services.api.getPresentByProductId(this.product.id);

            if (response && typeof response.data !== 'undefined') {
                this.present = response.data
            }

            const configurationResponse = await this.$services.api.getProductConfigurationBySlug(
                this.$route.params.category,
                this.$route.params.product
            );

            if (
                typeof configurationResponse.data === 'undefined' ||
                Object.keys(configurationResponse.data).length === 0
            ) {
                this.productConfiguration = null;

                return;
            }

            this.productConfiguration = configurationResponse.data;
        },

        async asyncData({store, route}) {
            await store.dispatch('fetchProductBySlugAndCategory', {category: route.params.category, product: route.params.product})
            await store.dispatch('fetchActivePromotion')
        },

        metaInfo() {
            return {
                title: this.getProduct ? this.getProduct.metaTitle : null,
                meta: [
                    { vmid: 'description', name: 'description', content: this.getProduct ? this.getProduct.metaDescription : null },
                    { vmid: 'keywords', name: 'keywords', content: this.getProduct ? this.getProduct.metaKeywords : null},
                    { vmid: 'og:title', name: 'og:title', content: this.getProduct ? this.getProduct.name : null},
                    { vmid: 'og:type', name: 'og:type', content: 'og:product'},
                    { vmid: 'og:url', name: 'og:url', content: this.getConfig.basePath + this.$route.fullPath},
                    { vmid: 'og:description', name: 'og:description', content: this.getProduct ? this.getProduct.description : null},
                    { vmid: 'product:price:amount', name: 'product:price:amount', content: this.getProduct && this.getProduct.offers.length ? this.getProduct.offers[0].price : null},
                    { vmid: 'product:price:currency', name: 'product:price:currency', content: 'RUB'},
                ]
            }
        },
    }
</script>
