<template>
    <div class="articles" v-if="getCategoryArticles && activeArticle">
        <div class="row pl-3 pr-3 p-md-0">
            <h1 class="title font-weight-bold mt-4 mb-4">{{ activeArticle.name }}</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 pl-3 pr-3 pl-md-0 pr-md-0 d-flex d-md-block flex-wrap" v-if="getCategoryArticles.length > 1">
                <a v-for="article in getCategoryArticles"
                   href="javascript:void(0)"
                   @click="setActive(article)"
                   class="button text-center mb-2 pt-2 pb-2 pr-4 pl-4 pr-md-0 pl-md-0 text-decoration-none"
                   :class="{'active': article.slug === getActiveArticleSlug}">{{ article.name }}
                </a>
            </div>
            <div :class="{'col-12 col-md-9 col-lg-10': true, content: true, 'full-width':getCategoryArticles.length <= 1}">
                <div v-if="activeArticle.image" class="img mb-4">
                    <img :src="getConfig.imagesBaseUrl + activeArticle.image" alt="">
                </div>
                <div class="text "
                     v-html="activeArticle ? activeArticle.description : ''">
                </div>
                <div class="article-gallery" v-if="activeArticle.gallery.length && getActiveGalleryItems">
                    <h2 class="margin-bottom-l">{{ activeArticle.gallery[0].title }}</h2>
                    <photo-gallery></photo-gallery>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import {mapMutations} from "vuex";
import PhotoGallery from "../Gallery/GalleryType/PhotoGallery";


export default {
    name: 'articles',
    components: {PhotoGallery},
    computed: {
        ...mapGetters(['getCategory', 'getCategoryArticles', 'getActiveGalleryItems', 'getParameter', 'getConfig', 'getActiveArticleSlug']),
        ...mapMutations(['setActiveGalleryItems']),
        activeArticle() {
            if (!this.getCategoryArticles) {
                return null;
            }

            return this.getCategoryArticles.find(article => article.slug === this.getActiveArticleSlug)
        },
        categorySlug() {
            return this.$route.params.slug.toUpperCase()
        }
    },
    watch: {
        $route() {
            this.updateData();
        }
    },
    methods: {
        setActive(article) {
            this.$store.commit('setActiveArticleSlug', article.slug);
            this.$router.push({ name: 'articles', params: { slug: this.$route.params.slug, articleSlug: article.slug } })
        },
        updateGalleries() {
            if (this.activeArticle && this.activeArticle.gallery.length) {
                this.$services.api.getGalleryItemsById(this.activeArticle.gallery[0].id).then(data => {
                    this.$store.commit('setActiveGalleryItems', data.data);
                })
            }
        },
        async updateData() {
            await this.$store.dispatch('fetchCategoriesAndArticles', { categorySlug: this.$route.params.slug.toUpperCase(), articleSlug: this.$route.params.articleSlug })

            if (!this.$route.params.articleSlug) {

                await this.$router.replace(`/articles/${this.$route.params.slug}/${this.getCategoryArticles[0].slug}`);
            }

            await this.updateGalleries();
        },
    },

    async asyncData({store, route}) {
        await store.dispatch('fetchCategoriesAndArticles', { categorySlug: route.params.slug.toUpperCase(), articleSlug: route.params.articleSlug });
    },

    metaInfo() {
        return {
            title: this.activeArticle ? this.activeArticle.metaTitle : this.getCategoryArticles[0].metaTitle,
            meta: [
                { vmid: 'description', name: 'description', content: this.activeArticle ? this.activeArticle.metaDescription : this.getCategoryArticles[0].metaDescription },
                { vmid: 'keywords', name: 'keywords', content: this.activeArticle ? this.activeArticle.metaKeywords : this.getCategoryArticles[0].metaKeywords },
                { vmid: 'og:type', name: 'og:type', content: 'article'},
                { vmid: 'og:title', name: 'og:title', content: this.activeArticle ? this.activeArticle.name : this.getCategoryArticles[0].name},
                { vmid: 'og:site_name', name: 'og:site_name', content: this.getConfig ? this.getConfig.basePath : null},
            ]
        }
    },

    async mounted() {
        await this.updateData();
        document.dispatchEvent(new Event('DOMContentLoaded'));
    }
}
</script>

<style scoped>
img {
    max-width: 100%;
    height: auto;
}

.title {
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
}

.text {
    width: 100%;
    line-height: 1.6;
}

.button {
    background: #ececec;
    color: #424242;
    display: block;
    white-space: nowrap;
}

.button.active {
    background: #e84534;
    color: #FFF;
    text-decoration: none;
}

@media screen and (min-width: 768px ) {
    .full-width {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        flex: 1 0 100%;
    }
}

@media screen and (max-width: 992px) {
    .button {
        font-size: 0.8rem;
        width: 158px;
        margin-right: 16px;
    }

    .button:nth-child(3n) {
        margin-right: 0;
    }

    div.text h2 {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.8rem;
        text-align: left;
    }
}

@media screen and (max-width: 575px) {
    .button {
        width: 100%;
        margin-right: 0;
    }

    .title {
        width: 100%;
        margin-bottom: 16px;
    }

}

</style>
