<template>
    <div>
        <div class="d-flex flex-wrap" v-if="getActiveGalleryItems">
            <div class="gallery-item-container" @click="setSelectedImage(item, key)" v-for="(item, key) in getActiveGalleryItems">
                <img :src="getConfig.imagesBaseUrl + item.image" :alt="item.title">
            </div>
        </div>
        <modal-component class="" width="65%" height="auto" v-if="selectedImage"
                         @close="selectedImage = null; activeKey = null">
            <div slot="body">
                <div class="modal-left-button">
                    <img src="/public/assets/images/left.jpg" @click="prevImage"/>
                </div>
                <div class="modal-right-button">
                    <img src="/public/assets/images/right.jpg" @click="nextImage"/>
                </div>
                <img :src="selectedImage" v-touch-class="'active'" v-touch:swipe.left="nextImage" v-touch:swipe.right="prevImage">
            </div>
        </modal-component>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import ModalComponent from "../../Modal/ModalComponent.vue";

export default {
    components: {ModalComponent},
    data() {
        return {
            modalState: false,
            selectedImage: null,
            activeKey: null
        }
    },
    methods: {
        setSelectedImage(item, key) {
            this.activeKey = key;
            this.selectedImage = this.getConfig.imagesBaseUrl + item.image
        },
        nextImage() {
            if (this.activeKey === this.getActiveGalleryItems.length - 1) {
                this.activeKey = 0;
                this.setSelectedImage(this.getActiveGalleryItems[0], 0);

                return;
            }

            this.setSelectedImage(this.getActiveGalleryItems[this.activeKey + 1], this.activeKey + 1)
        },
        prevImage() {
            if (this.activeKey === 0) {
                this.activeKey = this.getActiveGalleryItems.length;
                this.setSelectedImage(this.getActiveGalleryItems[this.getActiveGalleryItems.length - 1], this.getActiveGalleryItems.length - 1)

                return;
            }

            this.setSelectedImage(this.getActiveGalleryItems[this.activeKey - 1], this.activeKey - 1)
        },
    },
    computed: {
        ...mapGetters(['getActiveGalleryItems', 'getConfig'])
    }
}

</script>

<style scoped>

img {
    width: 100%;
    height: auto;
}

img.active {
    transition: 1s;
}

.slide-enter {
    transform: translate(100%, 0);
}
.slide-leave-to {
    transform: translate(-100%, 0);
}

.modal-left-button img,
.modal-right-button img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.modal-left-button,
.modal-right-button {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.modal-left-button {
    position: absolute;
    opacity: 0.2;
    top: 50%;
    left: 5%;
}

.modal-right-button {
    border-radius: 24px;
    position: absolute;
    opacity: .2;
    top: 50%;
    right: 5%;
}

.gallery-item-container {
    cursor: pointer;
    display: flex;
    flex-basis: calc(33.33333% - 16px);
    height: 134px;
    margin-right: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
    .gallery-item-container {
        flex-basis: calc(50% - 16px);
        height: 165px
    }
}

@media screen and (max-width: 992px) {
    .gallery-item-container {
        flex-basis: 100%;
        height: 180px;
    }

    .modal-right-button,
    .modal-left-button {
        top: 37%;
    }
}

/*.gallery-item-container img {*/
/*    width: auto;*/
/*    height: 100%;*/
/*}*/

/*.gallery-item-container:nth-child(3n) {*/
/*    margin-right: 0;*/
/*}*/

.modal-right-button:hover, .modal-left-button:hover {
    opacity: 0.6;
}
</style>
