<template>
    <div>
        <div class="d-flex flex-wrap" v-if="getActiveGalleryItems">
            <div class="gallery-item-container"
                 v-for="item in getActiveGalleryItems">
                <a href="javascript:void(0)" class="open-button" @click="selectedVideo = item.href"></a>
                <iframe width="234" height="130" :src="item.href"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                </iframe>
            </div>
        </div>
        <modal-component width="1200px" height="auto" v-if="selectedVideo" @close="selectedVideo = null">
            <div slot="body">
                <div class="big-video-wrapper">
                    <iframe :src="selectedVideo"
                            title="YouTube video player" frameborder="0"
                            allowfullscreen
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                    </iframe>
                </div>
            </div>
        </modal-component>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import ModalComponent from "../../Modal/ModalComponent.vue";

export default {
    components: {ModalComponent},
    data() {
        return {
            selectedVideo: null
        }
    },
    computed: {
        ...mapGetters(['getActiveGalleryItems'])
    }
}
</script>

<style scoped>

.gallery-item-container {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-basis: calc(33.33333% - 16px);
    height: 134px;
    margin-right: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
    .gallery-item-container {
        flex-basis: calc(50% - 16px);
        height: 165px
    }
}

@media screen and (max-width: 992px) {
    .gallery-item-container {
        flex-basis: 100%;
        height: 180px;
    }
}
.gallery-item-container .open-button {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.gallery-item-container iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.big-video-wrapper {
    text-align: center;
    min-height: 410px;
}

.big-video-wrapper iframe {
    width: 100%;
    height: 85vh;
}
</style>
