<template>
    <div class="control-group relative mt-2">
        <div class="autocomplete-list-wrapper">
            <autocomplete
                :search="search"
                @submit="$emit('input', $event.value)"
                :placeholder="placeholder"
                :aria-label="placeholder"
                :get-result-value="getResultValue"
            ></autocomplete>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        className: String,
        field: Object,
        error: Boolean,
        placeholder: String | null
    },
    data() {
        return {
            address: '',
            suggestions: [],
            selected: false
        }
    },

    methods: {
        getResultValue(suggestion) {
            return suggestion.value;
        },
        async search(newValue) {
            this.$emit('input', newValue);

                const data = await this.$services.api.getAhunterSuggestions(newValue);

                if (data) {
                    this.suggestions = data.data;
                    this.selected = false;
                }

                if (this.suggestions.suggestions && this.suggestions.suggestions.length) {
                    return this.suggestions.suggestions;
                }

                return [];
        },
        selectValue(query) {
            this.address = query;
            this.selected = true
        }
    },

    watch: {
        address: async function (newValue, oldValue) {

        }
    },
    mounted() {
        document.body.addEventListener('click', () => {
            this.selected = true;
        })
    }
}
</script>

<style scoped>
.relative {
    position: relative;
}

ul {
    background: #FFF;
    list-style: none;
    position: absolute;
    border: 1px solid #ececec;
    left: 0;
    padding: 8px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    top: 52px;
    box-shadow: 0 2px 12px -1px rgba(0, 0, 0, 0.4);
}

ul li {
    cursor: pointer;
    margin-top: 8px;
}

ul li:hover {
    color: var(--red);
}

.input-text {
    width: 500px;
    height: 35px;
    border: 1px solid #ececec;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 17px
}

.input-error {
    border-color: var(--red);
}
</style>
