<template>
    <div :class="`buy-btn ${showSuccess ? 'success': ''}`"
         @click="addToCart()">
        {{ showSuccess ? showLink ? 'В корзину' : 'Добавлено' : 'Добавить в корзину' }}
    </div>
</template>

<script>
export default {
    props: {
        product: Object,
        amount: Number,
        offer: Object,
        present: Object | null,
        selectedConfigurationValues: Object | null
    },
    data() {
        return {
            showSuccess: false,
            showLink: false
        }
    },
    methods: {
        addToCart() {
            if (this.showLink) {
                this.$router.push('/cart');

                return;
            }

            if (this.showSuccess) {
                return;
            }

            this.$store.dispatch('addToCart', this.cartItem);

            if (this.presentCartItem) {
                this.$store.dispatch('addToCart', this.presentCartItem);
            }

            this.showSuccess = true;

            setTimeout(() => this.showLink = true, 2000)
        }
    },
    computed: {
        presentCartItem() {
            return this.$services.cart.createCartItemFromPresent(this.present, this.product.id);
        },
        cartItem() {
            return this.$services.cart.createCartItemFromProduct(this.product, this.offer, this.amount, this.selectedConfigurationValues);
        }
    },
    name: "AddToCardButton"
}
</script>

<style scoped>
.buy-btn {
    transition: background-color, border, color ease-in-out .3s;
}

.buy-btn {
    border: 1px solid #e84534;
    color: var(--white);
    background: #e84534;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}

.buy-btn:hover {
    color: #e84534;
    background: var(--white);
}

.buy-btn.success:active,
.buy-btn.success:hover,
.buy-btn.success {
    background-color: #008000;
    border: solid 1px #008000;
    color: #FFF;
}
</style>
