<template>
    <div class="col-12 pl-0 pr-0">
        <div class="d-none d-lg-block" v-if="links && links.length">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <template v-for="link in links">
                        <li v-if="!link.current" class="breadcrumb-item" >
                            <router-link :to="link.href">{{ link.title }}</router-link>
                        </li>
                        <li v-else class="breadcrumb-item active" aria-current="page">{{ link.title }}</li>
                    </template>
                </ol>
            </nav>
        </div>
        <div class="mobile-panel d-block d-lg-none mt-2">
            <a href="javascript:void(0)" @click="$router.push(links[links.length - 2].href)">
                <b-icon-chevron-left scale="1.5"></b-icon-chevron-left> <div>{{ links[links.length - 2].title }}</div>
            </a>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        links: Array
    },
}
</script>
<style scoped>
.mobile-panel {
    background-color: #ececec;
    padding: 16px;
}

.mobile-panel a {
    display: flex;
    align-items: center;
}

.mobile-panel a div {
    margin-left: 16px;
    font-size: 1.2rem;
}
</style>
