<template>
    <div class="row">
        <div class="d-flex categories col-12 pl-0 pr-0 mt-5 flex-wrap">
            <div class="category ml-3 mr-3 mr-sm-0 ml-sm-0" v-for="category in categories" v-if="category.level <= 1">
                <h3>{{ category.name }}</h3>
                <p>{{ category.short }}</p>
                <div class="d-flex">
                    <router-link :to="`/products/${category.canonical}`" class="category-link mt-3">Перейти</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    props: {
        categories: Array
    },
    name: "MainPageCategories",
    computed: {...mapGetters(['getConfig'])}
}
</script>

<style scoped>
.categories {

}

.categories .category {
    flex: 1;
    border: solid 1px var(--brand-light-gray);
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    position: relative;
    overflow: hidden;
}

.categories .category:nth-child(2n) {
    margin-left: 16px !important;
}

.category-link {
    display: block;
    padding: 8px 16px;
    background: var(--brand-red);
    border: solid 1px var(--brand-red);
    color: #FFFFFF;
}

img.background-image {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: -1;
    width: 180px;
    height: auto;
}

@media screen and (max-width: 575px){
    .categories .category {
        width: 100%;
        flex: auto;
    }

    .categories .category:not(:first-child) {
        margin-top: 16px;
    }

    .categories .category:nth-child(2n) {
        margin-left: 0;
    }
}

</style>
