<template>
    <div>
        <slider-component v-if="getSlider && getSlider.slides && getSlider.slides.length"
                          :slides="getSlider.slides"></slider-component>
        <main-page-categories :categories="categories"></main-page-categories>
        <div class="row">
            <div class="main-text-box text-box mt-5 pl-3 pr-3 pl-md-0 pr-md-0" v-if="getShopData" v-html="getShopData.mainPageText"></div>
        </div>
    </div>
</template>

<script>
import SliderComponent from '../Slider/SliderComponent'
import {mapGetters} from 'vuex';
import MainPageCategories from "./blocks/MainPageCategories";

export default {
    components: {MainPageCategories, SliderComponent},
    async asyncData({store, route}) {
        await store.dispatch('updateSlider');
        await store.dispatch('fetchCategories');
    },

    mounted() {
        if (!this.getSlider) {
            this.$store.dispatch('updateSlider');
        }
    },

    computed: {...mapGetters(['getSlider', 'getShopData', 'categories'])},

    metaInfo() {
        return {
            title: this.getShopData ? this.getShopData.metaTitle : null,
            meta: [
                { vmid: 'description', name: 'description', content: this.getShopData ? this.getShopData.metaDescription : null },
                { vmid: 'keywords', name: 'keywords', content: this.getShopData ? this.getShopData.metaKeywords : null},
            ]
        }
    },
}
</script>

<style scoped>
.text-box {
    color: #5e5e5e;
    line-height: 1.4;
}

h1, h3, h3, h4 {
    margin-bottom: 16px;
}

h1 {
    color: #f00;
}

strong {
    color: #e84534;
}

/*@media screen and (max-width: 992px)   {*/
    /*h1 {*/
        /*font-size: 20px!important;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 992px)   {*/
    /*h1 {*/
        /*font-size: 20px!important;*/
    /*}*/
/*}*/
</style>
