<template>
    <div>
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header d-flex justify-content-between">
                    <span @click="show = !show" class="accordion-button">{{ item.name }}: <b>{{ selectedValue?.name }}</b></span>
                    <i :class="`arrow ${show ? '' : 'down'}`" @click="show = !show"></i>
                </h2>
                <div :class="`accordion-collapse collapse${show ? ' show' : ''}`">
                    <product-configuration-row-item v-model="selectedValueComputed" :item="item"></product-configuration-row-item>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductConfigurationRowItem from './ProductConfigurationRowItem'

export default {
    data() {
        return {
            show: false
        }
    },
    name: 'ProductConfigurationRow',
    components: { ProductConfigurationRowItem },
    computed: {
        selectedValueComputed: {
            get() {
                return this.selectedValue;
            },
            set(newValue) {
                this.$emit('input', newValue)
            }
        },
    },
    props: {
        item: Object,
        selectedValue: Object | null
    }
}
</script>

<style scoped>
.accordion {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-top: 4px;
    padding: 16px 28px;
}

.accordion .accordion-header {
    align-items: center;
    margin: 0;
}

.accordion-button {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.045em;
    color: #000000;
    cursor: pointer;
}
</style>
