<template>
    <div class="accordion-body d-flex">
        <template v-for="part in item.parts" >
            <input type="radio"
                   v-model="selectedValueComputed"
                   :name="`level-${item.level}-input`"
                   :id="`part-input-${part.id}`"
                   :value="part"
                   class="d-none part-input"
            >
            <label class="part-icon" :for="`part-input-${part.id}`" :style="`background-image: url(${getPartImage(part)})`"></label>
        </template>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'ProductConfigurationRowItem',
    props: {
        item: Object,
        value: Object | null | undefined
    },
    computed: {
        ...mapGetters(['getConfig']),
        selectedValueComputed: {
            get() {
                return this.value;
            },
            set(newValue) {
                this.$emit('input', newValue)
            }
        }
    },
    methods: {
        getPartImage(part) {
            return part.image ? this.getConfig.imagesBaseUrl + part.image : '/public/assets/images/placeholder.svg';
        }
    }
}
</script>

<style scoped>
.part-icon {
    width: 36px;
    height: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 6px;
    border: solid 1px #FFFFFF;
    cursor: pointer;
}

.part-input:checked + label {
    outline: solid 1px #000000;
}

.part-icon:first-child {
    margin-left: 0;
}
</style>
