<template>
    <div v-if="configuration" class="mt-5">
        <h4>Конфигуратор:</h4>
        <div v-for="item in values" v-show="item.parts.length > 1">
            <product-configuration-row @input="updateConfigurationTree(item.level, $event)" :selected-value="selectedValues ? selectedValues[item.level] : null" :item="item"></product-configuration-row>
        </div>
    </div>
</template>

<script>
import ProductConfigurationRow from './ProductConfigurationRow.vue'

export default {
    components: { ProductConfigurationRow },
    props: {
        configuration: Object | null,
        value: Object | null
    },
    data() {
        return {
            selectedValues: {},
            values: []
        }
    },
    methods: {
        createValue(name, level, parts) {
            return {
                name, level, parts
            }
        },
        updateConfigurationTree(changedLevel, newValue) {
            if (!(changedLevel || newValue)) {
                return;
            }

            this.selectedValues[changedLevel] = newValue;

            let levelParts = newValue.children

            this.values.splice(changedLevel)

            this.configuration.vector.forEach(vectorItem => {
                if (vectorItem.level <= changedLevel) {
                    return;
                }

                this.values.push(this.createValue(vectorItem.name, vectorItem.level, levelParts));
                this.selectedValues[vectorItem.level] = levelParts[0];

                levelParts = levelParts[0].children;
            });

            this.$emit('input', this.selectedValues)
        }
    },
    watch: {
        value(newValue) {
            this.selectedValues = newValue;
        },
        configuration(configuration) {
            let level = 1;
            const levels = configuration.vector.map(item => item.level);
            const maxLevel = levels[levels.length - 1];
            let levelChildren = configuration.parts;

            let selectedValues = {1: levelChildren[0]};
            level++;

            while (level <= maxLevel) {

                selectedValues[level] = levelChildren[0].children[0];
                levelChildren = levelChildren[0].children;

                level++;
            }

            this.configuration.vector.forEach(vectorItem => {
                if (vectorItem.level === 1) {
                    this.values.push(this.createValue(vectorItem.name, 1, this.configuration.parts));

                    return;
                }

                this.values.push(this.createValue(vectorItem.name, vectorItem.level, selectedValues[vectorItem.level - 1].children))
            });

            this.selectedValues = selectedValues;

            this.$emit('input', this.selectedValues)
        }
    },
    name: 'ProductConfiguration'
}
</script>

<style scoped>

</style>
