<template>
    <div class="contacts row">
        <div class="col-12 pr-3 pl-3 pr-md-0 pl-md-0">
            <div v-if="article" class="margin-top-xl">
                <h1 class="margin-bottom-l title font-weight-bold mt-4 mb-4">{{ article.name }}</h1>
                <div v-html="article.description"></div>
            </div>
            <div v-if="getShopData">
                <map-component/>
                <div class="mt-5">
                    <p>
                        <b>ООО «КБ Русские Амфибии»<br>
                            ИНН {{ getShopData.inn }} ОГРН {{ getShopData.ogrn }}</b>
                    </p>

                    <template v-for="address in getShopData.addresses">
                        <p class="margin-top-l" v-html="address.description"></p>
                        <p v-html='address.address'></p>
                    </template>
                    <div v-html="getShopData.additional"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import MapComponent from "./Map/MapComponent";

    export default {
        components: {MapComponent},
        name: 'ContactsComponent',
        data() {
            return {
                shopData: null
            }
        },
        computed: {
            ...mapGetters(['getShopData', 'getContactsArticles']),
            article() {
                if (!this.getContactsArticles || !this.getContactsArticles.articles || !this.getContactsArticles.articles.length) {
                    return null;
                }

                return this.getContactsArticles.articles[0];
            }
        },

        async asyncData({route, store}) {
            await store.dispatch('fetchContactsArticles');
        },

        metaInfo() {
            return {
                title: this.article ? this.article.metaTitle : '',
                meta: [
                    {
                        vmid: 'description',
                        name: 'description',
                        content: this.article ? this.article.metaDescription : ''
                    },
                    {vmid: 'keywords', name: 'keywords', content: this.article ? this.article.metaKeywords : ''},
                    {vmid: 'og:type', name: 'og:type', content: 'article'},
                    {vmid: 'og:title', name: 'og:title', content: this.article ? this.article.name : ''},
                    {
                        vmid: 'og:site_name',
                        name: 'og:site_name',
                        content: this.getConfig ? this.getConfig.basePath : null
                    },
                ]
            }
        },
    }
</script>

<style scoped>
    .title {
        margin: 30px 0;
        font-size: 30px;
    }

    a {
        text-decoration: none;
        color: #424242;
    }

    b {
        color: #424242;
    }


</style>
