<template>
    <div><a href="">{{ currentRouteName }}</a></div>
</template>

<script>
export default {
    computed: {
        currentRouteName() {
            return this.$route.name;
        }
    }
}
</script>

<style scoped>

</style>
