<template>
    <div class="spinner-mask" v-if="loading">
        <div class="wrapper ">
            <div class="container">
                <div class="spinner-box">
                    <img src="/public/assets/images/spinner.svg" alt="preloader"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    computed: {...mapGetters(['loading'])}
}
</script>

<style scoped>
.spinner-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, .8);
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 10000;
}

.container {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.spinner-box {
    width: 250px;
    margin: 200px auto;
    padding-left: 100px;
}
</style>
