<template>
    <div>
        <router-link to="/compare" class="position-relative">
            <b-icon-list-check scale="1.4"></b-icon-list-check>
            <b-badge v-if="$store.getters.compareItems && $store.getters.compareItems.length" class="position-absolute badge-primary">{{ $store.getters.compareItems.length }}</b-badge>
        </router-link>
    </div>
</template>

<script>

export default {
    name: "MiniCompare"
}
</script>

<style scoped>

</style>
