<template>
    <div>
        <template v-if="isMobile">
            <router-link to="/cart" class="position-relative">
                <b-icon-cart scale="1.4"></b-icon-cart>
                <b-badge v-if="getCart.items && getCart.items.length" class="position-absolute badge-primary">{{ getCart.items.length }}</b-badge>
            </router-link>
        </template>
        <template v-else>
            <a href="javascript:void(0)" @click.stop @click="opened = !opened" class="position-relative">
                <b-icon-cart scale="1.4"></b-icon-cart>
                <b-badge v-if="getCart.items && getCart.items.length" class="position-absolute badge-primary">{{ getCart.items.length }}</b-badge>
            </a>
        </template>
        <div class="mini-cart position-absolute" @click.stop v-if="opened && getCart.items.length">
            <div class="mini-cart-wrapper">
                <div class="d-flex cart-title">
                    <h3 class="flex-grow-1">Товары в корзине</h3>
                    <a href="javascript:void(0)" @click="$store.dispatch('clearCart')">Очистить корзину</a>
                </div>
                <div class="products d-flex flex-column">
                    <div class="product d-flex align-items-center mt-4 pb-4" v-for="cartItem in getCart.items">
                        <div class="product-image">
                            <img :src="`${getConfig.imagesBaseUrl}${cartItem.image}`" alt="">
                        </div>
                        <div class="product-title ml-3 flex-grow-1"><router-link :to="`/products/${cartItem.categorySlug}/${cartItem.productSlug}`">{{ cartItem.name }}</router-link></div>
                        <div class="product-total ml-3 text-nowrap font-weight-bold">{{ new Intl.NumberFormat('ru-RU').format(cartItem.price * cartItem.amount) }} руб</div>
                        <div class="product-actions d-flex ml-3"><a href="javascript:void(0)" @click.stop @click="$store.dispatch('removeFromCart', cartItem)"><b-icon-trash></b-icon-trash></a></div>
                    </div>
                </div>
                <div class="d-flex mt-2 w-100 justify-content-between">
                    <div class="font-weight-bold">Итого:</div>
                    <div class="font-weight-bold">{{ new Intl.NumberFormat('ru-RU').format(getCart.total) }} руб</div>
                </div>
                <div class="d-flex mt-5 w-100 justify-content-between">
                    <coupon-block class="ml-auto"></coupon-block>
                </div>
                <div class="d-flex justify-content-end mt-5 w-100">
                    <router-link to="/cart" class="btn btn-primary mr-4">Перейти в корзину</router-link>
                    <router-link to="/checkout" class="btn btn-primary">Оформить заказ</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import CouponBlock from '../../Cart/CouponBlock'

export default {
    components: { CouponBlock },
    props: {
        isMobile: Boolean
    },
    data() {
        return {
            opened: false
        }
    },
    watch: {
        $route() {
            this.opened = false;
        }
    },
    name: "MiniCart",
    computed: {
        ...mapGetters(['getCart', 'getConfig'])
    },
    mounted() {
        document.body.addEventListener('click', () => {
            this.opened = false;
        })
    }
}
</script>

<style scoped>
.products {
    max-height: 60vh;
    overflow: auto;
}

.cart-title {
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product {
    border-bottom: 1px solid #dee2e6;
}

.product .product-title {
    width: 30%;
}

.product-image img {
    width: 100%;
    height: auto;
}

.mini-cart {
    width: 600px;
    padding: 20px;
    right: 0;
    z-index: 1;
    top: 42px;
    box-shadow: 0 5px 8px 0 rgba(0, 13, 51, 0.4);
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #FFFFFF;
}

.btn {
    background: #3a92f9;
    border-color: #3a92f9;
}
</style>
