<template>
    <div class="header-wrapper">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light col-xl-9 col-lg-8 col-12 text-center text-md-left pl-3 pr-3 pl-sm-0 pr-sm-0 pt-1 pb-1 pt-lg-0 pb-lg-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" @click="showDropDown = !showDropDown">
                            <span class="navbar-toggler-icon" v-if="!showDropDown"></span>
                            <b-icon icon="x" scale="1.2" v-else></b-icon>
                        </button>
                        <div class="d-lg-none d-flex justify-content-end col-7 align-items-center">
                            <a class="d-block mr-4" :href="`tel:${getShopData.phones[0].number}`">
                                <b-icon-telephone scale="1.2"></b-icon-telephone>
                            </a>
                            <router-link to="/contacts" class="d-block mr-4">
                                <b-icon-geo-alt scale="1.2"></b-icon-geo-alt>
                            </router-link>
                            <mini-cart :is-mobile="true" class="mr-4"></mini-cart>
                            <mini-compare></mini-compare>
                        </div>
                        <div :class="`collapse navbar-collapse ${showDropDown ? 'show' : ''}`">
                            <ul class="navbar-nav mt-3 mt-lg-0">
                                <li :class="`nav-item list-item mr-xl-4 mr-1 ${isActive('/articles/about_company/o-kompanii') ? 'active' : ''}`">
                                    <router-link to="/articles/about_company/o-kompanii" class="nav-link">О компании</router-link>
                                </li>
                                <li :class="`nav-item list-item mr-xl-4 mr-1 ${isActive('/articles/production') ? 'active' : ''}`">
                                    <router-link to="/articles/production" class="nav-link">О продукции</router-link>
                                </li>
                                <li :class="`nav-item list-item mr-xl-4 mr-1 ${isActive('/gallery') ? 'active' : ''}`">
                                    <router-link to="/gallery" class="nav-link">Галерея</router-link>
                                </li>
                                <li :class="`nav-item list-item mr-xl-4 mr-1 ${isActive('/products') ? 'active' : ''}`">
                                    <router-link to="/products" class="nav-link">Магазин</router-link>
                                </li>
                                <li :class="`nav-item list-item mr-xl-4 mr-1 ${isActive('/articles/dealer') ? 'active' : ''}`">
                                    <router-link to="/articles/dealer" class="nav-link">Как стать дилером</router-link>
                                </li>
                                <li :class="`nav-item list-item mr-xl-4 mr-1 ${isActive('/articles/promotions') ? 'active' : ''}`">
                                    <router-link to="/articles/promotions" class="nav-link">Акции</router-link>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="phone-box col-md-2 col-sm-2 d-none d-lg-flex align-items-center" v-if="getShopData">
                        <a class="phone pt-1 pb-1" :href="`tel:${getShopData.phones[0].number}`">{{ getShopData.phones[0].number }}</a>
                    </div>
                    <div class="ml-2 d-lg-flex d-none align-items-center justify-content-end">
                        <mini-cart></mini-cart>
                    </div>
                    <div class="ml-5 d-lg-flex d-none align-items-center justify-content-end">
                        <mini-compare></mini-compare>
                    </div>
                </div>
            </div>
        </div>
        <div class="header container d-lg-block">
            <a class="row" href="/">
                <div class="header-left col-lg-9 pl-3 pr-0 pl-md-0 pl-sm-0">
                    <img class="logo" src="../../../../public/assets/images/logo.png">
                    <div class="title">
                        <div>РУССКИЕ АМФИБИИ</div>
                        <p class="lead">ОФИЦИАЛЬНЫЙ МАГАЗИН ПРОИЗВОДИТЕЛЯ ЛОДОК</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import MiniCart from "./MiniCart";
    import MiniCompare from "./MiniCompare";

    export default {
        components: {MiniCompare, MiniCart},
        data() {
            return {
                showDropDown: false
            }
        },
        computed: {
            ...mapGetters(['getShopData'])
        },

        methods: {
            isActive(link) {
                return (link !== '/' && this.$route.path.indexOf(link) !== -1) || (this.$route.path === '/' && link === '/')
            }
        },
        watch: {
            $route: {
                handler() {
                    this.showDropDown = false
                }
            }
        }
    }

</script>

<style scoped>

    button:focus {
        outline: none;
    }

    .header-wrapper {
        position: relative;
    }

    .navbar-toggler {
        min-height: 40px;
        min-width: 56px
    }

    .mobile-logo {
        height: auto;
        width: 18px;
    }

    .header-list {
        display: flex;
        list-style: none;
        text-align: center;
        padding: 20px 0;
        font-size: 16px;
        margin-bottom: 0;
    }

    .list-item {
        margin-right: 1vw;
        color: #232153;
        white-space: nowrap;
    }

    .list-item.active a {
        border-bottom: solid 2px #424242
    }


    .header-content {
        color: #232153;
        background-color: #ececec;
    }

    .header {
        display: flex;
        margin: 20px auto;
    }

    .header-left {
        display: flex;
    }

    .logo {
        width: 81px;
        height: 108px;
    }

    .title {
        padding-left: 14px;
        padding-top: 14px;
        line-height: 1.1;
        white-space: nowrap;
    }

    .title div {
        color: #e84534;
        font-size: 44px;
        font-weight: bold;
    }

    .lead {
        margin-left: 2px;
        letter-spacing: 0.9px;
        font-size: 16px;
        font-weight: 500;
    }

    .phone {
        font-size: 16px;
        text-align: right;
        color: #232153;
        white-space: nowrap;
    }

    a {
        color: inherit;

    }

    a:hover {
        color: #424242;
        text-decoration: none;
    }


    @media screen and (max-width: 991px) {
        .navbar .nav-item.list-item.active {
            border-bottom: none;
        }

        .navbar .nav-item.list-item.active a {
            color: #e84534;
        }

        .title {
            padding-left: 30px;
            padding-top: 10px;
        }

        .title div {
            font-size: 50px;
        }

        .logo {
            width: 70px;
            height: 93px;
        }

        .lead {
            letter-spacing: 1.8px;
            font-size: 17px;
        }

        .list-item.active a {
            border-bottom: none;
        }
    }

    @media screen and (max-width: 768px) {
        .logo {
            width: 60px;
            height: 79px;
        }

        .title {
            padding-left: 12px;
            padding-top: 12px;
        }

        .title div {
            font-size: 38px;
        }

        .lead {
            letter-spacing: 0.6px;
            font-size: 14px;
        }
    }

    @media screen and (max-width: 576px) {
        .logo {
            width: 11vw;
            height: 14.5vw;
        }

        .title {
            padding-left: 3vw;
            padding-top: 1vw;
        }

        .title div {
            font-size: 7.3vw;
        }

        .lead {
            letter-spacing: 0.1vw;
            font-size: 2.7vw;
        }
    }
</style>
