<template>
    <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
            <div class="modal-wrapper">
                <div class="modal-container" @click.stop :style="{width, height}">
                    <img class="modal-close-button" src="/public/assets/images/close30.jpg" @click="$emit('close')"/>
                    <!--<a href="javascript:void(0)" class="modal-close-button" ">×</a>-->
                    <div class="modal-body">
                        <slot name="body">default body</slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        width: String,
        height: String
    }
}
</script>

<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    max-height: 95vh;
    margin: 0 auto;
    padding: 4px 4px 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    max-height: 95vh;
    overflow: auto;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-close-button {
    border-radius: 24px;
    position: absolute;
    opacity: 0.9;
    top: -11px;
    right: -11px;
    cursor: pointer;
    z-index: 2;
}

@media screen and (max-width: 992px) {
    .modal-container {
        width: auto !important;
        max-height: none !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
    }

    .modal-close-button {
        top: 16px;
        right: 16px;
    }
}

</style>
