<template>
    <div>
        <top-component/>
        <menu-component/>
    </div>
</template>

<script>
    import MenuComponent from "./Menu/MenuComponent.vue";
    import TopComponent from "./Top/TopComponent.vue";

    export default {
        name: "HeaderComponent",
        components: {
            MenuComponent,
            TopComponent,
        }
    }
</script>


