<template>
    <div class="w-100">
        <div class="tabs flex-wrap flex-md-nowrap ml-3 mr-3 ml-md-0 mr-md-0" :class="classes">
            <div :data-column="dataColumn" class="tab" v-for="(tab, index) in tabs"
                 v-bind:class="{'active-tab': isActiveTab(index)}" @click="handleClickActive(index)">
                <div v-if="tab.disabled" @click.stop v-html="tab.name"
                     v-bind:class="{'disabled': tab.disabled}"></div>
                <div v-else v-html="tab.name"></div>
            </div>
        </div>
        <div v-for="(slotName, index) in Object.keys($slots)" v-show="isActiveTab(index)" class="tab-content">
            <slot :name="slotName"></slot>
        </div>
    </div>
</template>

<style scoped>
.tabs {
    display: flex;
    justify-content: space-around;
}

.tabs .tab {
    flex-grow: 1;
    background-color: #ececec;
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #5e5e5e;
    padding: 10px 5px;
    cursor: pointer;
    border-top: 5px solid transparent;
}

@media screen and (max-width: 576px) {
    .tabs .tab {
        width: 100%;
    }
}

.tabs .tab.active-tab {
    background-color: #ffffff;
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #e84534;
    padding: 10px 5px;
    border-top: 5px solid #e84534;
}

@media screen and (max-width: 574px) {
    .tabs .tab,
    .tabs .tab.active-tab {
        font-size: 3vw;
    }
}
</style>

<script>
export default {
    data() {
        return {
            tabs: [],
            active: 0,
            dataColumn: 4,
            aditionalColumn: 0,
        }
    },
    methods: {
        handleClickActive(index) {
            this.active = index;
            this.emitSelectedTabEvent();
        },
        setDataColumn() {
            const slots = Object.keys(this.$slots).length;

            if (slots === 2) {
                this.dataColumn = 4;
                this.aditionalColumn = 4;
            } else {
                this.dataColumn = Math.floor(12 / slots);
                this.aditionalColumn = 12 - slots * this.dataColumn;
            }
        },
        getTab(tabName) {

            return {name: tabName}
        },
        isActiveTab(index) {

            return this.active === index
        },
        getActiveTabIndex() {

            let activeTabId = this.activeTabId ? this.activeTabId : null;
            let activeTabIndex = this.activeTab ? this.activeTab : 0;

            if (activeTabId) {
                let index = this.tabs.findIndex(item => item.tabId === activeTabId);
                activeTabIndex = index !== -1 ? index : activeTabIndex;
            }

            let index = this.tabs.findIndex(item => item.hasError && !item.disabled);
            activeTabIndex = index !== -1 ? index : activeTabIndex;

            return activeTabIndex;
        },
        emitSelectedTabEvent() {
            const eventName = (this.name ? this.name + '-' : '') + 'tabSelected';
            this.$emit(eventName, this.tabs[this.active])
        }
    },
    props: ['tab-data', 'active-tab', 'active-tab-id', 'classes', 'tab-class', 'name'],
    mounted() {
        this.setDataColumn();

        let tabs = typeof this.tabData === 'string' ? this.ext.data.getData(this.tabData) : this.tabData;

        tabs.forEach((tab) => {

            if (typeof tab == 'string') {
                tab = this.getTab(tab)
            }

            this.tabs.push(tab);
        });

        this.active = this.getActiveTabIndex();
        this.emitSelectedTabEvent();
    }
}
</script>

