<template>
    <div id="app">
        <div v-if="getVersion" class="version">Текущая версия: {{ getVersion }}</div>
        <header-component></header-component>
        <div class="router-view-wrapper container">
            <transition name="fade">
                <router-view :key="$route.fullPath"></router-view>
            </transition>
        </div>
        <footer-component/>
    </div>
</template>

<script>
import FooterComponent from "./views/Footer/FooterComponent.vue";
import HeaderComponent from "./views/Header/HeaderComponent.vue";
import PathwayComponent from "./views/Header/Breadcrumps/PathwayComponent.vue";
import ContactsComponent from "./views/Contacts/ContactsComponent.vue";
import OfferComponent from "./views/Offer/OfferComponent.vue";
import {mapGetters, mapMutations} from 'vuex';

export default {
    computed: {
        ...mapGetters(['getConfig', 'getShopData', 'getVersion']),
        ...mapMutations(['initCart', 'initCompare'])
    },
    components: {
        HeaderComponent,
        FooterComponent,
        PathwayComponent,
        ContactsComponent,
        OfferComponent
    },
    mounted() {
        this.$store.commit('initCart');
        this.$store.commit('initCompare');
    },
    created () {
      this.$services.api.setConfig(this.getConfig);
    },
}
</script>

<style scoped>
.version {
    position: fixed;
    display: block;
    bottom: 8px;
    right: 8px;
    background: #FFF;
    font-size: 16px;
    z-index: 999;
    padding: 4px 8px;
    border-radius: 4px;
    border: solid 1px #CCC;
}
</style>
