<head>
  <meta charset="utf-8">
  {{{ meta.inject().title.text() }}}
  {{{ meta.inject().meta.text() }}}
  {{{ meta.inject().link.text() }}}
  {{{ meta.inject().style.text() }}}
  {{{ meta.inject().script.text() }}}
  {{{ meta.inject().noscript.text() }}}
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="theme-color" content="#fff">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/images/favicon-16x16.png">
  <link rel="stylesheet" href="/bundles/template/active/template.css">
</head>
<body {{{ meta.inject().bodyAttrs.text() }}}>
<div>{{{ counters.join(' ') }}}</div>
<!--vue-ssr-outlet-->
</body>
