<template>
    <div>
        <div class="row">
            <div class="pl-3 pr-3 pl-sm-0 pr-sm-0 col-12 mt-4 d-flex flex-column flex-lg-row">
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" @click="collapsed = !collapsed" :class="`title ${collapsed ? 'collapsed' : ''}`">{{ title }}</a>
                </div>
                <div class="ml-0 ml-lg-auto d-flex align-items-center">
                    <label :for="`${property}-differences-only`" :class="`mb-0 cursor-pointer differences-label ${$store.getters.compareItems.length <= 1 ? 'gray' : ''}`">Показать только отличия</label>
                    <input type="checkbox" :disabled="$store.getters.compareItems.length <= 1" class="ml-3 cursor-pointer" v-model="differencesOnly" :id="`${property}-differences-only`">
                </div>
            </div>
        </div>
        <div :class="`row collapsible ${!collapsed ? 'full' : ''}`">
            <div class="pl-3 pr-3 pl-sm-0 pr-sm-0 col-12 mt-4 d-flex compare-list overflow-auto">
                <div v-if="product && product.offers.length" class="compare-list-item d-flex d-lg-none flex-column position-relative" v-for="product in specifiedProducts">
                    <div v-if="checkMobileProp(item, product.id)" v-for="item in $store.getters.getUniqueLabels(property)" class="d-flex border-bottom align-items-center prop-item">
                        <div class="w-50">{{ item }}: </div>
                        <div class="font-weight-bold w-50 text-right">{{ getValue(item, product.id) }}</div>
                    </div>
                </div>
                <div class="compare-list-item d-none d-lg-flex flex-column position-relative" v-if="product && product.offers.length" v-for="product in $store.getters.compareItems">
                    <div v-if="checkProp(item, product.id)" v-for="item in $store.getters.getUniqueLabels(property)" class="d-flex border-bottom align-items-center prop-item">
                        <div class="w-50">{{ item }}: </div>
                        <div class="font-weight-bold w-50 text-right">{{ getValue(item, product.id) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: String,
        property: String,
        specifiedProducts: Array | null
    },
    methods: {
        checkProp(label, productId) {
            if (!this.differencesOnly) {
                return true;
            }

            const anotherProducts = this.$store.getters.compareItems.filter(product => product.id !== productId);
            const value = this.$store.getters.getItemByProductAndLabel(this.property, productId, label);

            return anotherProducts.some(product => {
                const anotherProductValue = this.$store.getters.getItemByProductAndLabel(this.property, product.id, label)

                return anotherProductValue !== value
            })
        },

        checkMobileProp(label, productId) {
            if (!this.differencesOnly) {
                return true;
            }

            const anotherProducts = this.specifiedProducts.filter(product => product && product.id !== productId);

            if (!anotherProducts) {
                return false;
            }

            const value = this.$store.getters.getItemByProductAndLabel(this.property, productId, label);

            return anotherProducts.some(product => {
                const anotherProductValue = this.$store.getters.getItemByProductAndLabel(this.property, product.id, label)

                return anotherProductValue !== value
            })
        },
        getValue(label, productId) {
            const value = this.$store.getters.getItemByProductAndLabel(this.property, productId, label)

            return value || 'Нет';
        }
    },
    mounted() {
        if (this.$store.getters.compareItems.length === 1) {
            this.differencesOnly = false;
        }

        document.addEventListener('compareItemRemoved', () => {
            if (this.$store.getters.compareItems.length === 1) {
                this.differencesOnly = false;
            }
        })
    },
    data() {
        return {
            differencesOnly: true,
            collapsed: false
        }
    },
    name: "CompareBlock"
}
</script>

<style scoped>

.title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 32px;
    position: relative;
    color: #424242;
    text-decoration: none;
}

.gray {
    color: #adadad;
}

.title:hover {
    color: #3a92f9;
}

.title:before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-left: solid 2px #424242;
    border-bottom: solid 2px #424242;
    left: 2px;
    bottom: 5px;
    transform: rotate(135deg);
    transition: all ease-in-out .3s;
}

.title:hover:before {
    border-color: #3a92f9;
}

.title.collapsed:before {
    transform: rotate(315deg);
    bottom: 14px;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 16px;
        padding-left: 20px;
    }

    .title:before {
        width: 10px;
        height: 10px;
    }

    .title.collapsed:before {
        bottom: 8px;
    }

    .differences-label {
        margin-left: 20px;
    }

    .compare-list .compare-list-item > div > div {
        font-size: 10px;
    }

    .compare-list .compare-list-item {
        padding: 16px 8px;
    }
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapsible.full {
    max-height: 2500px;
    transition: max-height 1s ease-in-out;
}

.cursor-pointer {
    cursor: pointer;
    user-select: none;
}

.compare-list .compare-list-item {
    border: dashed 1px #CCC;
    flex: 1;
    padding: 16px;
}

.compare-list .compare-list-item {
    margin-left: -1px;
}

.compare-list .compare-list-item:first-child,
.compare-list .compare-list-item:nth-child(3n) {
    margin-left: 0;
}

.compare-list .compare-list-item > div {
    padding: 8px 0;
    box-sizing: border-box;
}

.compare-list .compare-list-item .prop-item:last-child {
    border-bottom: transparent !important;
}
</style>
