<template>
    <div class="row">
        <div class="jumbotron w-100 text-center mt-4">
            <h2>Список сравнения пуст</h2>
            <small>Для добавления товаров к сравнению перейдите в каталог.</small>
            <div class="d-flex mt-4 justify-content-center w-100">
                <router-link :to="'/products'" class="btn btn-primary">В каталог</router-link>
                <router-link :to="'/'" class="btn btn-warning ml-3">На главную</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "EmptyList"
}
</script>

<style scoped>

</style>
