<template>
    <div class="position-fixed mini-products-bar d-none d-lg-block overflow-hidden" :style="`${showToolbar ? 'top: 0': ''}`">
        <div class="container">
            <div class="row">
                <div class="pl-0 pr-0 col-12 mt-1 d-flex">
                    <div class="product d-flex flex-column position-relative" v-if="product.offers.length" v-for="product in $store.getters.compareItems">
                        <a href="javascript:void(0)" class="remove position-absolute" v-tooltip="'Удалить из сравнения'">
                            <b-icon-trash scale="1.2" @click="$store.dispatch('removeProductFromCompare', product)"></b-icon-trash>
                        </a>
                        <div class="d-flex">
                            <router-link
                                :to="`/products/${product.categorySlug}/${product.canonical}`"
                                class="d-block text-center mt-2 product-title">
                                {{ product.name }}
                            </router-link>
                        </div>
                        <product-price additional-row-class="justify-content-center" :discount-price="product.offers[0].discountPrice" :price="product.offers[0].price" class="text-center mt-auto"></product-price>
                        <div class="d-flex justify-content-center mt-3">
                            <add-to-card-button :product="product" :amount="1" :offer="product.offers[0]"></add-to-card-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductPrice from "../../Products/Card/ProductPrice";
import AddToCardButton from "../../../components/AddToCardButton";

export default {
    components: {ProductPrice, AddToCardButton},
    name: "MiniProductsBar",
    data() {
        return {
            showToolbar: false,
            toolbarForceHidden: false,
        }
    },
    methods: {
        handleScroll(e) {
            if (window.scrollY > 700 && !this.toolbarForceHidden) {
                this.showToolbar = true;
            } else {
                this.showToolbar = false;
                this.toolbarForceHidden = false;
            }
        }
    },
    mounted() {
        window.addEventListener('scroll', (e) => {this.handleScroll(e)});
    }
}
</script>

<style scoped>
.mini-products-bar {
    top: -250px;
    left: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 1;
    height: 230px;
    box-shadow: -2px 4px 7px 2px #4242423d;
    transition: top ease-in-out .3s;
}
.mini-products-bar .remove {
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: -2px 4px 7px 2px #4242423d;
    border-bottom-left-radius: 6px;
    z-index: 1;
}

.mini-products-bar .small-product-image {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}

.mini-products-bar .product-title {
    flex: 1;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.mini-products-bar .hide-toolbar-button {
    right: 90px;
    top: 32px;
}

.product {
    border: dashed 1px #CCC;
    flex: 1;
    padding: 32px 16px;
}

.mini-products-bar .product {
    padding: 16px;
}

.product:not(:first-child) {
    margin-left: -1px;
}
</style>
