<template>
    <div>
        <div class="row pl-3 pr-3 pl-sm-0 pr-sm-0">
            <div :class="`${compareItems.length > 1 ? 'col-6' : 'col-12'} product-container`" v-if="product" v-for="(product, key) in [compareItems[selectedFirst], compareItems[selectedSecond]]">
                <a href="javascript:void(0)" v-if="compareItems.length > 2" @click="switchProduct(!key ? 'selectedFirst' : 'selectedSecond', -1)" class="controls prev"></a>
                <a href="javascript:void(0)" @click="$emit('removeProduct', product)" class="remove position-absolute" v-tooltip="'Удалить из сравнения'">
                    <b-icon-trash scale="1.2"></b-icon-trash>
                </a>
                <product-images min-height="auto" :hide-image-box="true" v-if="product" :images="[product.cover, ...product.images]"></product-images>
                <router-link
                    :to="`/products/${product.categorySlug}/${product.canonical}`"
                    class="d-block text-center mt-2 product-title">
                    {{ product.name }}
                </router-link>
                <product-price :discount-price="product.offers[0].discountPrice" :price="product.offers[0].price" class="text-center mt-auto"></product-price>
                <div class="d-flex justify-content-center mt-3">
                    <add-to-card-button :product="product" :amount="1" :offer="product.offers[0]"></add-to-card-button>
                </div>
                <a href="javascript:void(0)" v-if="compareItems.length > 2" @click="switchProduct(!key ? 'selectedFirst' : 'selectedSecond', 1)" class="controls next"></a>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import AddToCardButton from "../../../components/AddToCardButton";
import ProductImages from "../../Products/Card/ProductImages";
import ProductPrice from "../../Products/Card/ProductPrice";
export default {
    components: {AddToCardButton, ProductImages, ProductPrice},
    data() {
        return {
            selectedFirst: 0,
            selectedSecond: 1
        }
    },
    methods: {
        calculateNextStep(type, step, currentStep) {
            const anotherSelected = type === 'selectedFirst' ? 'selectedSecond' : 'selectedFirst'
            let nextStep = currentStep + step;

            if (nextStep >= this.compareItems.length) {
                nextStep = 0;
            }

            if (nextStep < 0) {
                nextStep = this.compareItems.length - 1;
            }

            if (nextStep === this[anotherSelected]) {
                nextStep = this.calculateNextStep(type, step > 0 ? 1 : -1, nextStep);
            }

            return nextStep;
        },
        switchProduct(type, step) {
            this.$set(this, type, this.calculateNextStep(type, step, this[type]))
            const products = [this.compareItems[this.selectedFirst], this.compareItems[this.selectedSecond]].filter(product => product);

            this.$emit('productsSpecified', products);
        }
    },
    mounted() {
        const products = [this.compareItems[this.selectedFirst], this.compareItems[this.selectedSecond]].filter(product => product);
        this.$emit('productsSpecified', products)
    },
    computed: {
        ...mapGetters(['compareItems'])
    },
    name: "ProductsListMobile"
}
</script>

<style scoped>
.remove {
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: -2px 4px 7px 2px #4242423d;
    border-bottom-left-radius: 6px;
    z-index: 1;
}

.product-container {
    border: dashed 1px #CCC;
    padding: 16px 32px;
    text-align: center;
}

.product-container:last-child {
    margin-left: -1px;
}

.controls {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    top: 45%;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.controls.prev {
    left: 10px;
}
.controls.next:before,
.controls.prev:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: solid 2px #ababab;
    border-bottom: solid 2px #ababab;
    left: 11px;
    bottom: 9px;
    transform: rotate(45deg);
    transition: all ease-in-out .3s;
}

.controls.next:before {
    transform: rotate(225deg);
    left: 8px;
}

.controls.next {
    right: 10px;
}

@media screen and (max-width: 500px) {
    .product-title {
        font-size: 10px;
        max-height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .buy-btn {
        font-size: 12px;
    }
}
</style>
