<template>
    <div class="row">
        <div class="pl-0 pr-0 col-12 mt-4 d-flex">
            <div class="product d-flex flex-column position-relative" v-if="product.offers.length"
                 v-for="product in $store.getters.compareItems">
                <a href="javascript:void(0)" @click="$emit('removeProduct', product)" class="remove position-absolute" v-tooltip="'Удалить из сравнения'">
                    <b-icon-trash scale="1.2"></b-icon-trash>
                </a>
                <product-images min-height="auto" :hide-image-box="true"
                                :images="[product.cover, ...product.images]"></product-images>
                <router-link
                    :to="`/products/${product.categorySlug}/${product.canonical}`"
                    class="d-block text-center mt-2">
                    {{ product.name }}
                </router-link>
                <product-price additional-row-class="justify-content-center" :discount-price="product.offers[0].discountPrice" :price="product.offers[0].price" class="text-center mt-auto justify-content-center"></product-price>
                <div class="d-flex justify-content-center mt-3">
                    <add-to-card-button :product="product" :amount="1" :offer="product.offers[0]"></add-to-card-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AddToCardButton from "../../../components/AddToCardButton";
import ProductPrice from "../../Products/Card/ProductPrice";
import ProductImages from "../../Products/Card/ProductImages";

export default {
    components: {AddToCardButton, ProductPrice, ProductImages},
    name: "ProductsList"
}
</script>

<style scoped>
.remove {
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: -2px 4px 7px 2px #4242423d;
    border-bottom-left-radius: 6px;
    z-index: 1;
}

.product {
    border: dashed 1px #CCC;
    flex: 1;
    padding: 32px 16px;
}

.product:not(:first-child) {
    margin-left: -1px;
}
</style>
