<template>
    <div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th></th>
                <th>Наименование</th>
                <th>Количество</th>
                <th class="d-none d-xl-table-cell">Цена</th>
                <th>Итого</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(cartItem, key) in getCart.items">
                <td class="align-middle">
                    <div class="order-item-image">
                        <img :src="`${getConfig.imagesBaseUrl}${cartItem.image}`" :alt="cartItem.name">
                    </div>
                </td>
                <td class="align-middle">
                    <router-link :to="`/products/${cartItem.categorySlug}/${cartItem.productSlug}`">{{ cartItem.name }}</router-link>
                    <cart-product-configuration v-if="typeof cartItem.configurationValues !== 'undefined'"
                                                :configuration-values="cartItem.configurationValues"
                                                width="50%"
                                                :cart-item-name="cartItem.name"
                    >
                    </cart-product-configuration>
                </td>
                <td class="text-nowrap align-middle amount-column">
                    <div class="form-group d-flex align-items-center mb-0">
                        <a href="javascript:void(0)" @click="$store.dispatch('decreaseAmount', key)"
                           class="amount-control pr-2">-</a>
                        <input type="text" disabled="disabled" class="form-control w-25 text-center"
                               v-model="cartItem.amount">
                        <a href="javascript:void(0)" @click="$store.dispatch('increaseAmount', key)"
                           class="amount-control pl-2">+</a>
                        <span class="ml-3">шт.</span>
                    </div>
                </td>
                <td class="text-nowrap align-middle d-none d-xl-table-cell">{{ new Intl.NumberFormat('ru-RU').format(cartItem.price) }}
                    руб./шт
                </td>
                <td class="text-nowrap align-middle column-total">{{ new
                    Intl.NumberFormat('ru-RU').format(cartItem.price * cartItem.amount) }}
                    руб
                </td>
                <td class="text-nowrap align-middle">
                    <div class="d-flex">
                        <a href="javascript:void(0)" @click.stop
                           @click="$store.dispatch('removeFromCart', cartItem)">
                            <b-icon-trash></b-icon-trash>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import CartProductConfiguration from './CartProductConfiguration'

    export default {
        name: "CartProductTable",
        components: { CartProductConfiguration },
        computed: {
            ...mapGetters(['getCart', 'getConfig'])
        }
    }
</script>

<style scoped>
    table {
        font-size: 14px;
    }

    .amount-column {
        min-width: 180px;
    }

    .column-total {
        width: 130px;
    }

    thead > tr {
        background: var(--brand-light-gray);
    }

    .order-item-image {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .order-item-image img {
        max-width: 100%;
        height: auto;
    }

    .amount-control {
        font-size: 18px;
        color: #424242;
        text-decoration: none;
    }

    .amount-control,
    .amount-control + span {
        user-select: none;
    }
</style>
