<template>
    <div>
        <a href="javascript:void(0)" @click="show = !show" class="text-nowrap mt-3 d-block">Показать конфигурацию</a>
        <modal-component v-if="show" @close="show = !show" width="35%">
            <div slot="body">
                <div>
                    <h3 class="mb-4">{{ cartItemName }}</h3>
                    <div v-for="part in configurationValues" class="configuration-value d-flex align-items-center justify-content-between">
                        <div class="configuration-value-title">{{ part.levelName }}</div>
                        <div class="configuration-value-icon" v-tooltip="part.name" :style="`background-image: url(${getPartImage(part)})`">
                        </div>
                    </div>
                </div>
            </div>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from '../Modal/ModalComponent'
import {mapGetters} from 'vuex'

export default {
    data() {
        return {
            show: false
        }
    },
    components: { ModalComponent },
    computed: {
        ...mapGetters(['getConfig'])
    },
    methods: {
        getPartImage(part) {
            return part.image ? this.getConfig.imagesBaseUrl + part.image : '/public/assets/images/placeholder.svg';
        }
    },
    props: {
        configurationValues: Object,
        cartItemName: String
    },
    name: 'CartProductConfiguration'
}
</script>

<style scoped>
.configuration-value {}

.configuration-value .configuration-value-title {
    max-width: 80%;
}

.configuration-value .configuration-value-icon {
    width: 36px;
    height: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 6px;
    border: solid 1px #FFFFFF;
    cursor: pointer;
}
</style>
