<template>
    <div class="w-100">
        <div class="label flex-grow-1 justify-content-between align-items-center d-flex">
            <span @click="show = !show" class="accordion-button">Конфигурация</span>
            <i :class="`arrow ${show ? '' : 'down'}`" @click="show = !show"></i>
        </div>
        <div :class="`accordion-collapse collapse${show ? ' show' : ''}`">
            <div class="mt-5">
                <div v-for="part in configurationValues" class="configuration-value d-flex align-items-center justify-content-between mb-3">
                    <div class="configuration-value-title">{{ part.levelName }}</div>
                    <div class="configuration-value-icon" :style="`background-image: url(${getPartImage(part)})`">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data() {
        return {
            show: false
        }
    },
    name: 'CartProductConfigurationMobile',
    props: {
        configurationValues: Object
    },
    computed: {
        ...mapGetters(['getConfig'])
    },
    methods: {
        getPartImage(part) {
            return part.image ? this.getConfig.imagesBaseUrl + part.image : '/public/assets/images/placeholder.svg';
        }
    },
}
</script>

<style scoped>
.configuration-value-icon {
    width: 10vw;
    height: 10vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
</style>
