<template>
    <div class="row">
        <template v-if="getCart && getCart.items.length">
            <h1 class="mt-5 mb-4 col-12 pl-3 pr-3 pl-md-0 pr-md-0">Корзина товаров</h1>
            <cart-product-table class="d-none d-lg-block col-9 pl-0"></cart-product-table>
            <cart-product-table-mobile class="d-block d-lg-none col-12 pl-3 pr-3 pl-md-0 pr-md-0"></cart-product-table-mobile>
            <div class="col-lg-3 order-total-block ml-3 mr-3 ml-md-0 mr-md-0 pb-3">
                <h3>Итог заказа:</h3>
                <div class="d-flex flex-nowrap">
                    <div class="key">Товаров:</div>
                    <div class="value">{{ getCart.items.length }} шт.</div>
                </div>
                <div class="d-flex flex-nowrap">
                    <div class="key">На сумму:</div>
                    <div class="value"><span class="font-weight-bold">{{ new Intl.NumberFormat('ru-RU').format(getCart.total) }} руб</span>
                    </div>
                </div>
                <div class="mt-5">
                    <coupon-block></coupon-block>
                </div>
                <router-link to="/checkout" class="checkout">Оформить заказ</router-link>
            </div>
        </template>
        <div class="col-12" v-else>
            <div class="row">
                <div class="jumbotron bg-color mt-5 w-100 mr-3 ml-3 mr-sm-0 ml-sm-0">
                    <h1 class="display-4 mb-4">В вашей корзине еще нет товаров</h1>
                    <p>Чтобы сформировать заказ, перейдите в раздел
                        <router-link to="/products" role="button">"Товары"</router-link>
                        и нажмите кнопку "Добавить в корзину" у нужных товаров.
                    </p>
                    <router-link class="button-to-catalog" to="/products" role="button">Перейти в каталог
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import CartProductTable from "./CartProductTable";
    import CartProductTableMobile from "./CartProductTableMobile";
    import CouponBlock from './CouponBlock'

    export default {
        name: "Cart",
        components: { CouponBlock, CartProductTableMobile, CartProductTable},
        computed: {
            ...mapGetters(['getCart', 'getConfig'])
        },
    }
</script>

<style scoped>
    .order-total-block {
        background: #ececec;
        max-height: 330px;
        border: solid 1px #dee2e6;
    }

    .order-total-block > h3 {
        padding: 10px 0;
        border-bottom: 2px solid #dee2e6;
    }

    .order-total-block > * {
        margin-top: 10px;
    }

    .order-total-block > .checkout {
        display: block;
        color: #fff;
        background-color: #356AA0;
        padding: 10px 0;
        border: none;
        font-size: 18px;
        cursor: pointer;
        width: 100%;
        text-decoration: none;
        text-align: center;
        margin: 54px auto 0 auto;
        border-radius: 3px;
    }

    thead > tr {
        background: #ececec;
    }

    .key {
        width: 50%;
    }

    .button-to-catalog {
        color: #fff;
        background-color: #232153;
        padding: 10px 20px;
        font-size: 20px;
        line-height: 1.5;
        border-radius: 3px;
        display: block;
        margin-top: 50px;
        width: 60%;
        text-align: center;
        min-width: 256px;
        max-width: 450px;
    }

    .bg-color {
        background-color: #ececec;
    }

</style>
