<template>
    <div>
        <div class="font-weight-bold d-flex align-middle">
            <input type="text"
                   :class="`form-control rounded-0 ${getCouponErrorMessage ? 'border-danger' : '' }`"
                   v-bind:disabled="!!getCart.couponCode.length"
                   placeholder="Промокод"
                   v-model="couponCode">
            <a v-if="!getCart.couponCode.length" href="javascript:void(0)" class="btn btn-primary rounded-0" @click="applyCouponCode(couponCode)">Применить</a>
            <a v-else href="javascript:void(0)" @click="resetCoupon" class="btn btn-warning rounded-0">Отменить</a>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    name: 'CouponBlock',
    data() {
        return {
            couponCode: ''
        }
    },
    computed: {
        ...mapGetters(['getCart', 'getCouponErrorMessage']),
    },
    watch: {
        'getCart.couponCode': function(newValue) {
            this.couponCode = newValue;
        }
    },
    methods: {
        applyCouponCode(couponCode) {
            this.$store.dispatch('applyCouponCode', couponCode)
        },
        resetCoupon() {
            this.$store.dispatch('resetCoupon')
        }
    },
    mounted () {
        this.$nextTick(() => {
            this.couponCode = this.getCart.couponCode;
        })
    }
}
</script>

<style scoped>

</style>
