<template>
    <div class="mt-4 pl-3 pr-3 pl-sm-0 pr-sm-0 pl-md-0 pr-md-0">
        <category-list-item
            @categoryChanged="$emit('categoryChanged', $event)"
            :active="active"
            v-for="category in categories"
            :category="category" :key="`${category.categoryId}-category`">
        </category-list-item>
    </div>
</template>

<script>
import CategoryListItem from "./CategoryListItem";

export default {
    components: {CategoryListItem},
    props: {
        categories: Array,
        active: Object | null
    }
}
</script>
