<template>
    <div class="menu-item" :class="{ active: active && category.categoryId === active.categoryId }">
        <div class="title">
            <router-link :to="`/products/${category.canonical}`" class="category-link">{{ category.name }}</router-link>
            <a href="javascript:void(0)" @click.stop :class="{toggler: true, toggled: opened}"
               v-if="subcategories.length" @click="opened = !opened">
                <b-icon-chevron-down style="fill: #FFF;"></b-icon-chevron-down>
            </a>
        </div>
        <div :class="{opened: subcategories && opened, subcategories: true}">
            <div v-for="subCategory in subcategories">
                <category-list-item :category="subCategory" :active="active"
                                    @categoryChanged="$emit('categoryChanged', $event)"></category-list-item>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "category-list-item",
    data() {
        return {
            opened: false
        }
    },
    methods: {
        categoryClickHandler(category) {
            this.$emit('categoryChanged', category)
        },
        childHasActive(categories) {
            return categories && categories.find(category => {
                if (category.canonical === this.active.canonical) {

                    return true;
                }

                const subcategories = this.categories.filter(cat => cat.parentId === category.categoryId);

                return this.childHasActive(subcategories);
            });
        }
    },
    props: {
        category: Object,
        active: Object | null
    },
    computed: {
        ...mapGetters(['categories']),
        isActive() {
            return this.category.categoryId === this.active.categoryId;
        },
        subcategories() {
            return this.categories.filter(category => category.parentId === this.category.categoryId)
        }
    },
    mounted() {
        this.opened = !!this.childHasActive(this.subcategories) || this.isActive;
    }
}
</script>

<style scoped>
.menu-item {
    line-height: 24px;
}

.menu-item .title {
    background: #e84534;
    display: flex;
    cursor: pointer;
    position: relative;
}

.menu-item .title > .toggler {
    margin-left: auto;
    text-align: center;
    width: 34px;
    height: 100%;
    line-height: inherit;
    position: absolute;
    padding: 10px 0;
    right: 0;
    transition: transform ease-out .3s;
}

/*.menu-item .title > .toggler:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    display: block;*/
/*    width: 8px;*/
/*    top: 16px;*/
/*    right: 18px;*/
/*    height: 8px;*/
/*    border-bottom: solid 1px #FFF;*/
/*    border-right: solid 1px #FFF;*/
/*    transform: rotate(45deg);*/
/*}*/

.menu-item .title > .toggler.toggled {
    transform: rotate(180deg);
}

.menu-item .title > a {
    outline: none;
    text-transform: capitalize;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
}

.menu-item .subcategories {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.menu-item .subcategories.opened {
    max-height: 999px;
}

.menu-item .subcategories > .menu-item .title {
    padding-left: 8px;
}

.menu-item .subcategories .title {
    background: #f4f4f4;
}

.menu-item .subcategories .title > .category-link {
    background: #f4f4f4;
    color: #e84534;
    border-bottom: 1px solid #dddddd;
}

.menu-item .subcategories .menu-item:not(.active) .title > .category-link:hover {
    background: #e84534;
    color: #FFFFFF;
}

.menu-item .subcategories .title > .toggler:before {
    border-color: #e84534;
}

.menu-item .subcategories .menu-item.active .title > .toggler:before {
    border-color: #FFF;
}

.menu-item.active > .title > .category-link,
.menu-item.active > .title {
    background: #232153;
    border-color: #ffffff;
    color: #FFF;
}

</style>
