<template>
    <div class="content-container row">
        <div class="banners-wrapper" ref="wrapper">
            <a @mouseover="clearBannerInterval()" @mouseleave="createInterval()"
               v-touch:swipe.left="stepForward" v-touch:swipe.right="stepBackward"
               :href="banner.link || 'javascript:void(0)'"
               v-for="(banner, index) in banners" class="banner" :style="{
            'background-image': `url(${getConfig.imagesBaseUrl + banner.image})`,
            'left': (offsetLeft + (index * wrapperWidth)) + 'px'}">
            </a>
        </div>
        <div class="controls" @mouseover="clearBannerInterval()" @mouseleave="createInterval()">
            <a :class="{control: true, active: active === key}" href="javascript:void(0)" @click="stepTo(key)"
               v-for="(slide, key) in banners"></a>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    data() {
        return {
            currentBanner: null,
            offsetLeft: 0,
            banners: [],
            interval: null,
            active: 0
        }
    },
    methods: {
        stepTo(key) {
            this.offsetLeft = -(this.wrapperWidth * key)
            this.active = key
        },
        stepForward() {
            if (-this.offsetLeft === this.wrapperWidth * (this.banners.length - 1)) {

                return
            }
            this.clearBannerInterval();

            this.active += 1
            this.offsetLeft -= this.wrapperWidth
            this.createInterval()
        },
        stepBackward() {
            if (!this.offsetLeft) {
                return;
            }
            this.clearBannerInterval();

            this.active -= 1
            this.offsetLeft += this.wrapperWidth
            this.createInterval()
        },
        clearBannerInterval() {
            clearInterval(this.interval)
        },
        createInterval() {
            this.interval = setInterval(() => {
                if (-this.offsetLeft === this.wrapperWidth * (this.banners.length - 1)) {
                    this.offsetLeft = 0
                    this.active = 0

                    return
                }

                this.stepForward()
            }, 5000)
        }
    },
    computed: {
        ...mapGetters(['getConfig']),
        wrapperWidth() {
            return this.$refs.wrapper.clientWidth
        }
    },
    props: {
        slides: Array,
        bannerImagesPath: String
    },
    mounted() {
        this.banners = this.slides
        this.createInterval()
    }
}
</script>

<style scoped>
.banners-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 768px) {
    .banners-wrapper {
        height: 130px;
    }
}

.banners-wrapper .banner {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    display: inline-block;
    transition: left ease-in-out .5s;
    background-position: center;
}

.banners-wrapper .controls {
    padding: 0;
    border: none;
    width: 38px;
    height: 38px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    color: #e84534;
    z-index: 100;
    font-size: 24px;
    text-align: center;
    line-height: 38px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

.banners-wrapper .controls:hover {
    background: #e84534;
    color: #fff;
}

.banners-wrapper .banner-content h2 {
    color: #e84534;
    font-size: 46px;
    margin: 0;
}

.banners-wrapper .banner-content > div {
    font-size: 24px;
    color: #424242;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}

.controls .control {
    width: 14px;
    height: 14px;
    border: solid 2px #CCC;
    border-radius: 50%;
    margin: 0 2px;
}

.controls .control:hover,
.controls .control.active {
    border-color: #e84534;
}

.controls .control.active {
    background-color: #e84534;
}
</style>
