<template>
    <div class="details">
        <table class="table mb-0">
            <thead>
            <tr>
                <th colspan="2" class="details-text"><div class="">Детали заказа</div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Номер заказа: </b>{{ order.id }}</td>
                <td><b>E-mail: </b>{{ order.customer.email }}</td>
            </tr>
            <tr>
                <td><b>Дата заказа: </b>{{ order.createdAt }}</td>
                <td><b>Телефон: </b>{{ order.customer.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "DetailsBlock",
    props: {
        order: Object
    }
}
</script>

<style scoped>
.details {
    display: block;
    margin-top: 20px;
    border: 1px solid #e4e3e3;
}

.details-text {
    background-color: #ececec;
}
</style>
