<template>
    <div>
        <div>
            <ul class="list-group mt-3" v-for="item in items">
                <li class="list-group-item d-flex align-items-center">
                    <div class="label flex-grow-1">Товар:</div>
                    <div class="value">{{ item.name }}</div>
                </li>
                <li class="list-group-item d-flex align-items-center" v-if="typeof item.configurationValues !== 'undefined' && item.configurationValues">
                    <cart-product-configuration-mobile
                        :configuration-values="item.configurationValues">
                    </cart-product-configuration-mobile>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="label flex-grow-1">Количество:</div>
                    <div class="value">{{ item.amount }} шт.</div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="label flex-grow-1">Цена:</div>
                    <div class="value">{{ new Intl.NumberFormat('ru-RU').format(item.price) }} руб/шт.</div>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <div class="label flex-grow-1">Итого:</div>
                    <div class="value">{{ new Intl.NumberFormat('ru-RU').format(item.price * item.amount) }} руб</div></li>
            </ul>
        </div>
    </div>
</template>

<script>
import CartProductConfigurationMobile from '../../../Cart/CartProductConfigurationMobile.vue'

export default {
    components: {CartProductConfigurationMobile},
    props: {
        items: Array
    },
    name: "MobileProductsTable"
}
</script>

<style scoped>
.list-group {
    border-radius: 0;
}

.value {
    max-width: 50%;
    text-align: right;
    font-weight: bold;
}
</style>
