<template>
    <div>
        <table class="table table-bordered table-responsive-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Итого:</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items">
                <td>
                    {{ item.name }}
                    <cart-product-configuration v-if="typeof item.configurationValues !== 'undefined'"
                                                :configuration-values="item.configurationValues"
                                                width="50%"
                                                :cart-item-name="item.name">
                    </cart-product-configuration>
                </td>
                <td>{{ item.amount }}</td>
                <td>{{ new Intl.NumberFormat('ru-RU').format(item.price) }} руб</td>
                <td>{{ new Intl.NumberFormat('ru-RU').format(item.price * item.amount) }} руб</td>
            </tr>
            <tr>
                <td colspan="3"><span class="font-weight-bold">Итого:</span></td>
                <td><span class="font-weight-bold">{{ new Intl.NumberFormat('ru-RU').format(total) }} руб</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import CartProductConfiguration from '../../../Cart/CartProductConfiguration.vue'

export default {
    components: {CartProductConfiguration},
    props: {
        items: Array
    },
    computed: {
        total() {
            let total = 0;

            this.items.forEach(item => {
                total += item.price * item.amount
            });

            return total;
        }
    },
    name: "ProductsTable"
}
</script>

<style scoped>
.table .thead-light th {
    background-color: #ececec;
}
</style>
